<style type="text/css">
  .social-feeds-wrap {
    margin-bottom: 40px !important;
  }
</style>

{% if section.settings.instagram_client_id != blank %}
  <div class="container social-feeds-wrap">
    <div class="section clearfix">
      <div class="sixteen columns">
        <h2 class="title insta center">
          {% if settings.instagram_link != blank %}
            <a href="{{ settings.instagram_link }}" target="_blank">
          {% endif %}
          INSTAGRAM
          {% if settings.instagram_link != blank %}
            </a>
          {% endif %}
        </h2>
        <div class="feature_divider"></div>
        <!-- js populate this section -->
        <div id="instafeed" class="js-instafeed" data-client-id="{{ section.settings.instagram_client_id | strip }}" data-count="4"></div>
      </div>
    </div>
  </div>
{% endif %}