{% if product_meta.collection_img %}
	<div class="container no-max pdp-collection-line clearfix">
		<div class="column one-third offset-one-third center">
			{% if product_meta.collection_img %}
				<img src="{{ product_meta.collection_img }}" class="lazyload" alt="{{ product.title }}">
			{% endif %}
			{% if product_meta.collection_link %}
				<a href="{{ product_meta.collection_link }}" class="action_button continue-button center">VIEW ALL</a>
			{% endif %}
		</div>
	</div>
{% endif %}