<style type="text/css">
  .bottom-logos { 
    background-color: {{ section.settings.bottom_logo_bg_color }};
  }
</style>
<div class="bottom-logos">
  <div class="container center">

    {% if section.settings.logo_one_image %}
    <div class="one-fifth column">      
      {% if section.settings.logo_one_link %}
      <a href="{{ section.settings.logo_one_link }}">
      {% endif %}
        <img src="{{ section.settings.logo_one_image | img_url: '175x110' }}">
      {% if section.settings.logo_one_link %}
      </a>
      {% endif %}
    </div>
    {% endif %}
    {% if section.settings.logo_two_image %}
    <div class="one-fifth column">
      {% if section.settings.logo_two_link %}
      <a href="{{ section.settings.logo_two_link }}">
      {% endif %}
        <img src="{{ section.settings.logo_two_image | img_url: '175x110' }}">
      {% if section.settings.logo_two_link %}
      </a>
      {% endif %}
    </div>
    {% endif %}
    {% if section.settings.logo_three_image %}
    <div class="one-fifth column">
      {% if section.settings.logo_three_link %}
      <a href="{{ section.settings.logo_three_link }}">
      {% endif %}
        <img src="{{ section.settings.logo_three_image | img_url: '175x110' }}">
      {% if section.settings.logo_three_link %}
      </a>
      {% endif %}
    </div>
    {% endif %}
    {% if section.settings.logo_four_image %}
    <div class="one-fifth column">
      {% if section.settings.logo_four_link %}
      <a href="{{ section.settings.logo_four_link }}">
      {% endif %}
        <img src="{{ section.settings.logo_four_image | img_url: '175x110' }}">
      {% if section.settings.logo_four_link %}
      </a>
      {% endif %}
    </div>
    {% endif %}
    {% if section.settings.logo_five_image %}
    <div class="one-fifth column">
      {% if section.settings.logo_five_link %}
      <a href="{{ section.settings.logo_five_link }}">
      {% endif %}
        <img src="{{ section.settings.logo_five_image | img_url: '175x110' }}">
      {% if section.settings.logo_five_link %}
      </a>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>