{% for link in linklists[mobile-menu].links %}
  {% if linklists[link.handle] == empty %}
    {% if settings.enable_menu_customizations %}
      {% if links contains link.handle %}
      {% else %}
    {% endif %}
      <li data-mobile-dropdown-rel="{{ link.handle }}" class="{% if settings.enable_menu_customizations and links contains link.handle %}hidden-important{% endif %}">
        {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
          <a data-no-instant href="{{ link.url }}" class="parent-link--false">
            {{ link.title }}
          </a>
        {% else %}
          <a data-no-instant href="{{ link.url }}" class="parent-link--true">
            {{ link.title }}
          </a>
        {% endif %}
      </li>
      {% endif %}
    {% if settings.enable_menu_customizations %}
      {% assign links = links | append: link.handle | append: ';' %}
    {% endif %}
  {% else %}
    {% if settings.enable_menu_customizations %}
      {% if links contains link.handle %}
      {% else %}
    {% endif %}
      <li data-mobile-dropdown-rel="{{ link.handle }}" class="sublink {% if settings.enable_menu_customizations and links contains link.handle %}hidden-important{% endif %}">
        {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
          <a data-no-instant href="{{ link.url }}" class="parent-link--false">
            {{ link.title }} <span class="right icon-down-arrow"></span>
          </a>
        {% else %}
          <a data-no-instant href="{{ link.url }}" class="parent-link--true">
            {{ link.title }} <span class="right icon-down-arrow"></span>
          </a>
        {% endif %}
        <ul>
          {% for link in linklists[link.handle].links %}
            {% if linklists[link.handle] == empty %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% else %}
              <li class="sublink">
                {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
                  <a data-no-instant href="{{ link.url }}" class="parent-link--false">
                    {{ link.title }} <span class="right icon-down-arrow"></span>
                  </a>
                {% else %}
                  <a data-no-instant href="{{ link.url }}" class="parent-link--true">
                    {{ link.title }} <span class="right icon-down-arrow"></span>
                  </a>
                {% endif %}
                <ul>
                  {% for link in linklists[link.handle].links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% if settings.enable_menu_customizations %}
      {% endif %}
      {% assign links = links | append: link.handle | append: ';' %}
    {% endif %}
  {% endif %}
{% endfor %}