{% comment %}
** Social feeds (Instagram and Twitter) - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

<div class="container social-feeds-wrap">
  <div class="section clearfix homepage_content">
  
      {% if block.settings.enable_instagram and block.settings.instagram_client_id %}
        <div class="sixteen columns" {{ block.shopify_attributes }}>
          <h2 class="title insta center">
            {% if settings.instagram_link != blank %}
              <a href="{{ settings.instagram_link }}" target="_blank">
            {% endif %}
            {{ block.settings.instagram_title }}
            {% if settings.instagram_link != blank %}
              </a>
            {% endif %}
          </h2>
          {% if block.settings.instagram_title != blank %}
            <div class="feature_divider"></div>
          {% endif %}

          {% if block.settings.instagram_client_id != blank %}
            <div id="instafeed" class="js-instafeed" data-client-id="{{ block.settings.instagram_client_id | strip }}" data-count="{{ block.settings.instagram_count }}"></div>
          {% else %}
            <div id="instafeed" class="clearfix placeholder-instagram">
              {% for i in (1..block.settings.instagram_count) %}
                <div class="four columns instagram__item">
                  <a href="#" class="instagram__link">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--instagram' }}
                  </a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if block.settings.enable_twitter and block.settings.twitter_username %}
        <div class="sixteen columns" {{ block.shopify_attributes }}>
          <h2 class="title twitter center">
            <a href="https://twitter.com/{{ block.settings.twitter_username | replace: "@", "" | strip }}" target="_blank">{{ block.settings.twitter_title }}</a>
          </h2>
          {% if block.settings.twitter_title != blank %}
            <div class="feature_divider"></div>
          {% endif %}

          <a id="twitter-timeline" class="twitter-timeline" data-theme="{{ block.settings.twitter_theme }}" href="https://twitter.com/{{ block.settings.twitter_username | replace: "@", "" | strip }}" data-widget-id="319998048782647298" data-tweet-limit="{{ block.settings.tweet_count }}" data-screen-name="{{ block.settings.twitter_username | replace: "@", "" | strip }}" data-chrome="noheader nofooter noborders transparent" data-link-color="{{ settings.link_color }}" data-heading-style="color:{{ settings.link_color }};font-size:{{ settings.regular_font_size }}px;font-family: {{ settings.regular_font | replace: 'Google_', '' | replace: '+', ' ' | replace: '"', '' }}"></a>
        </div>
      {% endif %}
    
  </div>
</div>

