{% comment %}
** Gallery page - custom view **
- Page template
- Uses blocks
{% endcomment %}

<a name="pagecontent" id="pagecontent"></a>

{% assign images_per_row = block.settings.grid-size %}

{% if block.settings.gallery_text_title != blank %}

  <div class="container">
    <h2 class="title center">{{ block.settings.gallery_text_title | escape }}</h2>
    <div class="feature_divider"></div>
  </div>

{% endif %}

{% unless block.settings.gallery_full_width %}
  <div class="container gallery-content">
{% endunless %}

  <div  id="gallery_section-{{section.id}}" class="gallery-section {% if block.settings.gallery_full_width %}gallery-full{% else %}container{% endif %} gallery-{{ block.settings.gallery_type }}">
    <div class="gallery-break"></div>
    
      {% if block.settings.gallery_type == 'masonry' %}
        <div class="masonry {% if block.settings.gallery_full_width %}adjust-columns{% endif %} four-per-row">
      {% endif %}

        <div class="gallery-image-wrapper {% unless block.settings.gallery_type == 'horizontal' or block.settings.gallery_type == 'masonry' %} four-per-row {% endunless %} {% unless block.settings.gallery_full_width %}add-padding{% endunless %}">
          {% if block.settings.gallery_enable_lightbox %}
            <div class="gallery-cell">
            <a href="{{ block.settings.gallery_image_1 |  img_url: '2000x' }}" class="lightbox" rel="gallery">
          {% endif %}
            <i class="image-{{ block.id }}"></i>
            {{ block.settings.gallery_image_1 |  img_url: '1000x', crop: 'center' | img_tag: block.settings.gallery_image_1.alt , block.id }}
            {% if block.settings.gallery_enable_lightbox %}
              <div class="overlay">
                <div class="display-table">
                  <div class="display-table-cell">
                    <span class="icon-search"></span>
                  </div>
                </div>
              </div>
              </a>
            </div>
          {% endif %}
        </div>

        <div class="gallery-image-wrapper {% unless block.settings.gallery_type == 'horizontal' or block.settings.gallery_type == 'masonry' %} four-per-row {% endunless %} {% unless block.settings.gallery_full_width %}add-padding{% endunless %}">
          {% if block.settings.gallery_enable_lightbox %}
            <div class="gallery-cell">
            <a href="{{ block.settings.gallery_image_2 |  img_url: '2000x' }}" class="lightbox" rel="gallery">
          {% endif %}
            <i class="image-{{ block.id }}"></i>
            {{ block.settings.gallery_image_2 |  img_url: '1000x', crop: 'center' | img_tag: block.settings.gallery_image_2.alt , block.id }}
            {% if block.settings.gallery_enable_lightbox %}
              <div class="overlay">
                <div class="display-table">
                  <div class="display-table-cell">
                    <span class="icon-search"></span>
                  </div>
                </div>
              </div>
              </a>
            </div>
          {% endif %}
        </div>

        <div class="gallery-image-wrapper {% unless block.settings.gallery_type == 'horizontal' or block.settings.gallery_type == 'masonry' %} four-per-row {% endunless %} {% unless block.settings.gallery_full_width %}add-padding{% endunless %}">
          {% if block.settings.gallery_enable_lightbox %}
            <div class="gallery-cell">
            <a href="{{ block.settings.gallery_image_3 |  img_url: '2000x' }}" class="lightbox" rel="gallery">
          {% endif %}
            <i class="image-{{ block.id }}"></i>
            {{ block.settings.gallery_image_3 |  img_url: '1000x', crop: 'center' | img_tag: block.settings.gallery_image_3.alt , block.id }}
            {% if block.settings.gallery_enable_lightbox %}
              <div class="overlay">
                <div class="display-table">
                  <div class="display-table-cell">
                    <span class="icon-search"></span>
                  </div>
                </div>
              </div>
              </a>
            </div>
          {% endif %}
        </div>

        <div class="gallery-image-wrapper {% unless block.settings.gallery_type == 'horizontal' or block.settings.gallery_type == 'masonry' %} four-per-row {% endunless %} {% unless block.settings.gallery_full_width %}add-padding{% endunless %}">
          {% if block.settings.gallery_enable_lightbox %}
            <div class="gallery-cell">
            <a href="{{ block.settings.gallery_image_4 |  img_url: '2000x' }}" class="lightbox" rel="gallery">
          {% endif %}
            <i class="image-{{ block.id }}"></i>
            {{ block.settings.gallery_image_4 |  img_url: '1000x', crop: 'center' | img_tag: block.settings.gallery_image_4.alt , block.id }}
            {% if block.settings.gallery_enable_lightbox %}
              <div class="overlay">
                <div class="display-table">
                  <div class="display-table-cell">
                    <span class="icon-search"></span>
                  </div>
                </div>
              </div>
              </a>
            </div>
          {% endif %}
        </div>

        <br class="clear" />

        <div class="gallery-image-wrapper {% unless block.settings.gallery_type == 'horizontal' or block.settings.gallery_type == 'masonry' %} four-per-row {% endunless %} {% unless block.settings.gallery_full_width %}add-padding{% endunless %}">
          {% if block.settings.gallery_enable_lightbox %}
            <div class="gallery-cell">
            <a href="{{ block.settings.gallery_image_5 |  img_url: '2000x' }}" class="lightbox" rel="gallery">
          {% endif %}
            <i class="image-{{ block.id }}"></i>
            {{ block.settings.gallery_image_5 |  img_url: '1000x', crop: 'center' | img_tag: block.settings.gallery_image_5.alt , block.id }}
            {% if block.settings.gallery_enable_lightbox %}
              <div class="overlay">
                <div class="display-table">
                  <div class="display-table-cell">
                    <span class="icon-search"></span>
                  </div>
                </div>
              </div>
              </a>
            </div>
          {% endif %}
        </div>

        <div class="gallery-image-wrapper {% unless block.settings.gallery_type == 'horizontal' or block.settings.gallery_type == 'masonry' %} four-per-row {% endunless %} {% unless block.settings.gallery_full_width %}add-padding{% endunless %}">
          {% if block.settings.gallery_enable_lightbox %}
            <div class="gallery-cell">
            <a href="{{ block.settings.gallery_image_6 |  img_url: '2000x' }}" class="lightbox" rel="gallery">
          {% endif %}
            <i class="image-{{ block.id }}"></i>
            {{ block.settings.gallery_image_6 |  img_url: '1000x', crop: 'center' | img_tag: block.settings.gallery_image_6.alt , block.id }}
            {% if block.settings.gallery_enable_lightbox %}
              <div class="overlay">
                <div class="display-table">
                  <div class="display-table-cell">
                    <span class="icon-search"></span>
                  </div>
                </div>
              </div>
              </a>
            </div>
          {% endif %}
        </div>

        <div class="gallery-image-wrapper {% unless block.settings.gallery_type == 'horizontal' or block.settings.gallery_type == 'masonry' %} four-per-row {% endunless %} {% unless block.settings.gallery_full_width %}add-padding{% endunless %}">
          {% if block.settings.gallery_enable_lightbox %}
            <div class="gallery-cell">
            <a href="{{ block.settings.gallery_image_7 |  img_url: '2000x' }}" class="lightbox" rel="gallery">
          {% endif %}
            <i class="image-{{ block.id }}"></i>
            {{ block.settings.gallery_image_7 |  img_url: '1000x', crop: 'center' | img_tag: block.settings.gallery_image_7.alt , block.id }}
            {% if block.settings.gallery_enable_lightbox %}
              <div class="overlay">
                <div class="display-table">
                  <div class="display-table-cell">
                    <span class="icon-search"></span>
                  </div>
                </div>
              </div>
              </a>
            </div>
          {% endif %}
        </div>

        <div class="gallery-image-wrapper {% unless block.settings.gallery_type == 'horizontal' or block.settings.gallery_type == 'masonry' %} four-per-row {% endunless %} {% unless block.settings.gallery_full_width %}add-padding{% endunless %}">
          {% if block.settings.gallery_enable_lightbox %}
            <div class="gallery-cell">
            <a href="{{ block.settings.gallery_image_8 |  img_url: '2000x' }}" class="lightbox" rel="gallery">
          {% endif %}
            <i class="image-{{ block.id }}"></i>
            {{ block.settings.gallery_image_8 |  img_url: '1000x', crop: 'center' | img_tag: block.settings.gallery_image_8.alt , block.id }}
            {% if block.settings.gallery_enable_lightbox %}
              <div class="overlay">
                <div class="display-table">
                  <div class="display-table-cell">
                    <span class="icon-search"></span>
                  </div>
                </div>
              </div>
              </a>
            </div>
          {% endif %}
        </div>

        {% unless block.settings.gallery_type == 'horizontal' or block.settings.gallery_type == 'masonry' %}
          {% if images_per_row == 2 %}
            {% cycle '', '<br class="clear" />' %}
          {% elsif images_per_row == 3 %}
            {% cycle '', '', '<br class="clear" />' %}
          {% elsif images_per_row == 4 %}
            {% cycle '', '', '', '<br class="clear" />' %}
          {% elsif images_per_row == 5 %}
           {% cycle '', '', '', '', '<br class="clear" />' %}
          {% endif %}
        {% endunless %}

      {% if block.settings.gallery_type == 'masonry' %}
        </div>
      {% endif %}

  </div>
</div>

{% unless block.settings.full_width %}
  </div>
{% endunless %}

<style>
{% if block.settings.gallery_type == 'classic' and block.settings.full_width %}
  .image-gallery-section {
    line-height: 0;
  }
{% endif %}
</style>