{% comment %}
** Image with text (half and half view) - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

{% if block.settings.frontpage_grid_style == false %}
  <div class="container">
{% endif %}
    <div class="featured_collections
                clearfix across-{{block.settings.featured_links_per_row}} image-align--{{ block.settings.frontpage_image_position }}">
      
        
          <section class="featured-link--section featured-link--image" {{ block.shopify_attributes }}>
            <div class="featured-link--half featured-link--image featured-link--margin">
              <div class="featured-link--wrap">
                <a {% if block.settings.image_text_link_1 != blank %}href="{{ block.settings.image_text_link_1 }}"{% endif %} title="{{ block.settings.image_text_title_1 }}">
                  {% if block.settings.image_text_image_1 %}
                    <img  src="{{ block.settings.image_text_image_1 | img_url: '100x' }}"
                          alt="{% if block.settings.image_text_image_1.alt != blank %}{{ block.settings.image_text_image_1.alt | escape }}{% else %}{{ block.settings.image_text_title_1 | escape }}{% endif %}"
                          class="lazyload full-width-image {{ settings.image_loading_style }}"
                          data-sizes="auto"
                          data-src="{{ block.settings.image_text_image_1 | img_url: '1600x' }}"
                          data-srcset=" {{ block.settings.image_text_image_1 | img_url: '400x' }} 400w,
                                        {{ block.settings.image_text_image_1 | img_url: '500x' }} 500w,
                                        {{ block.settings.image_text_image_1 | img_url: '600x' }} 600w,
                                        {{ block.settings.image_text_image_1 | img_url: '700x' }} 700w,
                                        {{ block.settings.image_text_image_1 | img_url: '800x' }} 800w,
                                        {{ block.settings.image_text_image_1 | img_url: '900x' }} 900w,
                                        {{ block.settings.image_text_image_1 | img_url: '1200x' }} 1200w,
                                        {{ block.settings.image_text_image_1 | img_url: '1600x' }} 1600w"
                        />
                  {% else %}
                    {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="featured-link--half">
              <div class="info text-align--{{block.settings.frontpage_text_align}}">
                <a {% if block.settings.image_text_link_1 != blank %}href="{{ block.settings.image_text_link_1 }}"{% endif %} class="collection_title">
                  {{ block.settings.image_text_title_1 }}
                </a>
                {% if block.settings.image_text_text_1 != blank %}
                  <div class="description">{{ block.settings.image_text_text_1 }}</div>
                {% endif %}
                {% if block.settings.image_text_button_label_1 != blank %}
                  <a {% if block.settings.link != blank %}href="{{ block.settings.image_text_button_link_1 }}"{% endif %} class="button">
                    {{ block.settings.image_text_button_label_1 }}
                  </a>
                {% endif %}
              </div>
            </div>
          </section>

        
          <section class="featured-link--section featured-link--image" {{ block.shopify_attributes }}>
            <div class="featured-link--half featured-link--image featured-link--margin">
              <div class="featured-link--wrap">
                <a {% if block.settings.image_text_link_2 != blank %}href="{{ block.settings.image_text_link_2 }}"{% endif %} title="{{ block.settings.image_text_title_2 }}">
                  {% if block.settings.image_text_image_2 %}
                    <img  src="{{ block.settings.image_text_image_2 | img_url: '100x' }}"
                          alt="{% if block.settings.image_text_image_2.alt != blank %}{{ block.settings.image_text_image_2.alt | escape }}{% else %}{{ block.settings.image_text_title_2 | escape }}{% endif %}"
                          class="lazyload full-width-image {{ settings.image_loading_style }}"
                          data-sizes="auto"
                          data-src="{{ block.settings.image_text_image_2 | img_url: '1600x' }}"
                          data-srcset=" {{ block.settings.image_text_image_2 | img_url: '400x' }} 400w,
                                        {{ block.settings.image_text_image_2 | img_url: '500x' }} 500w,
                                        {{ block.settings.image_text_image_2 | img_url: '600x' }} 600w,
                                        {{ block.settings.image_text_image_2 | img_url: '700x' }} 700w,
                                        {{ block.settings.image_text_image_2 | img_url: '800x' }} 800w,
                                        {{ block.settings.image_text_image_2 | img_url: '900x' }} 900w,
                                        {{ block.settings.image_text_image_2 | img_url: '1200x' }} 1200w,
                                        {{ block.settings.image_text_image_2 | img_url: '1600x' }} 1600w"
                        />
                  {% else %}
                    {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="featured-link--half">
              <div class="info text-align--{{block.settings.frontpage_text_align}}">
                <a {% if block.settings.image_text_link_2 != blank %}href="{{ block.settings.image_text_link_2 }}"{% endif %} class="collection_title">
                  {{ block.settings.image_text_title_2 }}
                </a>
                {% if block.settings.image_text_text_2 != blank %}
                  <div class="description">{{ block.settings.image_text_text_2 }}</div>
                {% endif %}
                {% if block.settings.image_text_button_label_2 != blank %}
                  <a {% if block.settings.link != blank %}href="{{ block.settings.image_text_button_link_2 }}"{% endif %} class="button">
                    {{ block.settings.image_text_button_label_2 }}
                  </a>
                {% endif %}
              </div>
            </div>
          </section>


        
          <section class="featured-link--section featured-link--image" {{ block.shopify_attributes }}>
            <div class="featured-link--half featured-link--image featured-link--margin">
              <div class="featured-link--wrap">
                <a {% if block.settings.image_text_link_3 != blank %}href="{{ block.settings.image_text_link_3 }}"{% endif %} title="{{ block.settings.image_text_title_3 }}">
                  {% if block.settings.image_text_image_3 %}
                    <img  src="{{ block.settings.image_text_image_3 | img_url: '100x' }}"
                          alt="{% if block.settings.image_text_image_3.alt != blank %}{{ block.settings.image_text_image_3.alt | escape }}{% else %}{{ block.settings.image_text_title_3 | escape }}{% endif %}"
                          class="lazyload full-width-image {{ settings.image_loading_style }}"
                          data-sizes="auto"
                          data-src="{{ block.settings.image_text_image_3 | img_url: '1600x' }}"
                          data-srcset=" {{ block.settings.image_text_image_3 | img_url: '400x' }} 400w,
                                        {{ block.settings.image_text_image_3 | img_url: '500x' }} 500w,
                                        {{ block.settings.image_text_image_3 | img_url: '600x' }} 600w,
                                        {{ block.settings.image_text_image_3 | img_url: '700x' }} 700w,
                                        {{ block.settings.image_text_image_3 | img_url: '800x' }} 800w,
                                        {{ block.settings.image_text_image_3 | img_url: '900x' }} 900w,
                                        {{ block.settings.image_text_image_3 | img_url: '1200x' }} 1200w,
                                        {{ block.settings.image_text_image_3 | img_url: '1600x' }} 1600w"
                        />
                  {% else %}
                    {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="featured-link--half">
              <div class="info text-align--{{block.settings.frontpage_text_align}}">
                <a {% if block.settings.image_text_link_3 != blank %}href="{{ block.settings.image_text_link_3 }}"{% endif %} class="collection_title">
                  {{ block.settings.image_text_title_3 }}
                </a>
                {% if block.settings.image_text_text_3 != blank %}
                  <div class="description">{{ block.settings.image_text_text_3 }}</div>
                {% endif %}
                {% if block.settings.image_text_button_label_3 != blank %}
                  <a {% if block.settings.link != blank %}href="{{ block.settings.image_text_button_link_3 }}"{% endif %} class="button">
                    {{ block.settings.image_text_button_label_3 }}
                  </a>
                {% endif %}
              </div>
            </div>
          </section>

        
          <section class="featured-link--section featured-link--image" {{ block.shopify_attributes }}>
            <div class="featured-link--half featured-link--image featured-link--margin">
              <div class="featured-link--wrap">
                <a {% if block.settings.image_text_link_4 != blank %}href="{{ block.settings.image_text_link_4 }}"{% endif %} title="{{ block.settings.image_text_title_4 }}">
                  {% if block.settings.image_text_image_4 %}
                    <img  src="{{ block.settings.image_text_image_4 | img_url: '100x' }}"
                          alt="{% if block.settings.image_text_image_4.alt != blank %}{{ block.settings.image_text_image_4.alt | escape }}{% else %}{{ block.settings.image_text_title_4 | escape }}{% endif %}"
                          class="lazyload full-width-image {{ settings.image_loading_style }}"
                          data-sizes="auto"
                          data-src="{{ block.settings.image_text_image_4 | img_url: '1600x' }}"
                          data-srcset=" {{ block.settings.image_text_image_4 | img_url: '400x' }} 400w,
                                        {{ block.settings.image_text_image_4 | img_url: '500x' }} 500w,
                                        {{ block.settings.image_text_image_4 | img_url: '600x' }} 600w,
                                        {{ block.settings.image_text_image_4 | img_url: '700x' }} 700w,
                                        {{ block.settings.image_text_image_4 | img_url: '800x' }} 800w,
                                        {{ block.settings.image_text_image_4 | img_url: '900x' }} 900w,
                                        {{ block.settings.image_text_image_4 | img_url: '1200x' }} 1200w,
                                        {{ block.settings.image_text_image_4 | img_url: '1600x' }} 1600w"
                        />
                  {% else %}
                    {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="featured-link--half">
              <div class="info text-align--{{block.settings.frontpage_text_align}}">
                <a {% if block.settings.image_text_link_4 != blank %}href="{{ block.settings.image_text_link_4 }}"{% endif %} class="collection_title">
                  {{ block.settings.image_text_title_4 }}
                </a>
                {% if block.settings.image_text_text_4 != blank %}
                  <div class="description">{{ block.settings.image_text_text_4 }}</div>
                {% endif %}
                {% if block.settings.image_text_button_label_4 != blank %}
                  <a {% if block.settings.link != blank %}href="{{ block.settings.image_text_button_link_4 }}"{% endif %} class="button">
                    {{ block.settings.image_text_button_label_4 }}
                  </a>
                {% endif %}
              </div>
            </div>
          </section>


    </div>
{% if block.settings.frontpage_grid_style == false %}
  </div>
{% endif %}
