{% assign content_page = block.settings.page_content_page %}

<div class="homepage_content featured_content clearfix">
  <div class="container">
    <div class="sixteen columns">
      <div class="section clearfix">
        {% if content_page != blank %}
          {% include 'page-multi-column', content: pages[content_page].content %}
        {% else %}
          <p class="center">
            {{ 'homepage.onboarding.no_content' | t }}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>