{% comment %}
  This file handles each block available on product.sections or page.sections templates.
  Each block is a near identical duplicate of a section also available on the home page.
  Exception is sections that had blocks become hard coded options.
{% endcomment %}

<div class="page-blocks">
  {% for block in section.blocks %}
    <div {{ block.shopify_attributes }}>
      {% case block.type %}

        {% when 'slideshow' %}
          {% include 'page-slideshow' %}

        <div class="container {% unless section.settings.page_title_enable or section.settings.page_content_enable %}hidden{%endunless%}">
          <div class="sixteen columns">
            {% if section.settings.page_title_enable %}
              <header class="section-header">
                <h1 class="section-header__title">{{ page.title }}</h1>
              </header>
            {% endif %}
            {% if section.settings.page_content_enable %}
              <div class="rte text-spacing">
                {{ page.content }}
              </div>
              <br><br>
            {% endif %}
          </div>
        </div>

        {% when 'featured-collection' %}
          {% include 'page-featured-collection' %}

        {% when 'image-text' %}
          {% include 'page-image-text' %}

        {% when 'image-text-overlay' %}
          {% include 'page-image-with-text-overlay' %}

        {% when 'featured-promotions' %}
          {% include 'page-featured-promotions' %}     

        {% when 'headline-text' %}
          {% include 'page-headline-text' %}

        {% when 'gallery' %}
          {% include 'page-gallery' %}

        {% when 'social-feeds' %}
          {% include 'page-social-feeds' %}

        {% when 'featured-blog' %}
          {% include 'page-featured-blog' %}

        {% when 'testimonials' %}
          {% include 'page-testimonials' %}

        {% when 'video' %}
          {% include 'page-video' %}

        {% when 'content-page' %}
          {% include 'page-content-page' %}

        {% when 'text-columns-with-images' %}
          {% include 'page-text-columns-with-images' %}

      {% endcase %}
    </div>
  {% endfor %}
</div>
