{% comment %}
** Featured promotions - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

{% assign featured_promos_per_row = block.settings.featured_promos_per_row | minus: 0 %}
{% assign featured_promos_grid_value = block.settings.featured_promos_grid %}
{% if featured_promos_grid_value == true %}
  {% assign featured_promos_grid = 'full_width' %}
{% else %}
  {% assign featured_promos_grid = 'standard' %}
{% endif %}
{% assign title_on_image = block.settings.promo_text_on_image_enabled %}

<div class="container promotions-grid-{{ featured_promos_grid }}">
  <div  class="js-featured-promotions featured-promotions promo-per-row-{{ featured_promos_per_row }} clearfix"
        data-promo-animation="{{ block.settings.featured_links_animation }}">

    <figure class="feature-section section-{{ forloop.index }} promo-{{ forloop.index }} title-overlay-{{ title_on_image }} {% if block.settings.featured_links_animation != blank %}promo-animation--true{% endif %}" {{ block.shopify_attributes }}>
        <div class="feature-inner feature-style--{{ block.settings.feature_style }} ">
          <img  src="{{ block.settings.feat_promo_image_1 | img_url: '800x' }}"
                alt="{% if block.settings.feat_promo_image_1.alt != blank %}{{ block.settings.feat_promo_image_1.alt }}{% else %}{{ block.settings.feat_promo_title_1 | escape }}{% endif %}"
                class="lazyload full-width-image {{ settings.image_loading_style }}"
                />
          {% if block.settings.feat_promo_text_1 != blank or block.settings.feat_promo_button_label_1 != blank or block.settings.feat_promo_title_1 != blank and title_on_image != blank %}
            <figcaption class="feature-overlay">
              <a {% if block.settings.feat_promo_link_1 != blank %}href="{{ block.settings.feat_promo_link_1 }}"{% endif %}class="link-promo"></a>
                <div class="feature-wrap">
                  {% if block.settings.feat_promo_title_1 != blank %}
                    <h2 class="title">{{ block.settings.feat_promo_title_1 }}</h2>
                  {% endif %}
                  <div class="feature-details">
                    {% if block.settings.feat_promo_text_1 != blank %}
                      <div class="description">{{ block.settings.feat_promo_text_1 }}</div>
                    {% endif %}

                    {% if block.settings.feat_promo_button_label_1 != blank %}
                      <div class="button">{{ block.settings.feat_promo_button_label_1 }}</div>
                    {% endif %}
                  </div>
                </div>
            </figcaption>
          {% elsif block.settings.feat_promo_link_1 != blank %}
            <a {% if block.settings.feat_promo_link_1 != blank %}href="{{ block.settings.feat_promo_link_1 }}"{% endif %}class="link-promo"></a>
          {% endif %}
        </div>
      {% if title_on_image == blank %}
        {% if block.settings.feat_promo_title_1 != blank %}
          <a {% if block.settings.feat_promo_link_1 != blank %}href="{{ block.settings.feat_promo_link_1 }}"{% endif %}>
            <h2 class="title title-below">{{ block.settings.feat_promo_title_1 }}</h2>
          </a>
        {% endif %}
      {% endif %}
    </figure>

    <figure class="feature-section section-{{ forloop.index }} promo-{{ forloop.index }} title-overlay-{{ title_on_image }} {% if block.settings.featured_links_animation != blank %}promo-animation--true{% endif %}" {{ block.shopify_attributes }}>
        <div class="feature-inner feature-style--{{ block.settings.feature_style }} ">
          <img  src="{{ block.settings.feat_promo_image_2 | img_url: '800x' }}"
                alt="{% if block.settings.feat_promo_image_2.alt != blank %}{{ block.settings.feat_promo_image_2.alt }}{% else %}{{ block.settings.feat_promo_title_2 | escape }}{% endif %}"
                class="lazyload full-width-image {{ settings.image_loading_style }}"
                />
          {% if block.settings.feat_promo_text_2 != blank or block.settings.feat_promo_button_label_2 != blank or block.settings.feat_promo_title_2 != blank and title_on_image != blank %}
            <figcaption class="feature-overlay">
              <a {% if block.settings.feat_promo_link_2 != blank %}href="{{ block.settings.feat_promo_link_2 }}"{% endif %}class="link-promo"></a>
                <div class="feature-wrap">
                  {% if block.settings.feat_promo_title_2 != blank %}
                    <h2 class="title">{{ block.settings.feat_promo_title_2 }}</h2>
                  {% endif %}
                  <div class="feature-details">
                    {% if block.settings.feat_promo_text_2 != blank %}
                      <div class="description">{{ block.settings.feat_promo_text_2 }}</div>
                    {% endif %}

                    {% if block.settings.feat_promo_button_label_2 != blank %}
                      <div class="button">{{ block.settings.feat_promo_button_label_2 }}</div>
                    {% endif %}
                  </div>
                </div>
            </figcaption>
          {% elsif block.settings.feat_promo_link_2 != blank %}
            <a {% if block.settings.feat_promo_link_2 != blank %}href="{{ block.settings.feat_promo_link_2 }}"{% endif %}class="link-promo"></a>
          {% endif %}
        </div>
      {% if title_on_image == blank %}
        {% if block.settings.feat_promo_title_2 != blank %}
          <a {% if block.settings.feat_promo_link_2 != blank %}href="{{ block.settings.feat_promo_link_2 }}"{% endif %}>
            <h2 class="title title-below">{{ block.settings.feat_promo_title_2 }}</h2>
          </a>
        {% endif %}
      {% endif %}
    </figure>

    <figure class="feature-section section-{{ forloop.index }} promo-{{ forloop.index }} title-overlay-{{ title_on_image }} {% if block.settings.featured_links_animation != blank %}promo-animation--true{% endif %}" {{ block.shopify_attributes }}>
        <div class="feature-inner feature-style--{{ block.settings.feature_style }} ">
          <img  src="{{ block.settings.feat_promo_image_3 | img_url: '800x' }}"
                alt="{% if block.settings.feat_promo_image_3.alt != blank %}{{ block.settings.feat_promo_image_3.alt }}{% else %}{{ block.settings.feat_promo_title_3 | escape }}{% endif %}"
                class="lazyload full-width-image {{ settings.image_loading_style }}"
                />
          {% if block.settings.feat_promo_text_3 != blank or block.settings.feat_promo_button_label_3 != blank or block.settings.feat_promo_title_3 != blank and title_on_image != blank %}
            <figcaption class="feature-overlay">
              <a {% if block.settings.feat_promo_link_3 != blank %}href="{{ block.settings.feat_promo_link_3 }}"{% endif %}class="link-promo"></a>
                <div class="feature-wrap">
                  {% if block.settings.feat_promo_title_3 != blank %}
                    <h2 class="title">{{ block.settings.feat_promo_title_3 }}</h2>
                  {% endif %}
                  <div class="feature-details">
                    {% if block.settings.feat_promo_text_3 != blank %}
                      <div class="description">{{ block.settings.feat_promo_text_3 }}</div>
                    {% endif %}

                    {% if block.settings.feat_promo_button_label_3 != blank %}
                      <div class="button">{{ block.settings.feat_promo_button_label_3 }}</div>
                    {% endif %}
                  </div>
                </div>
            </figcaption>
          {% elsif block.settings.feat_promo_link_3 != blank %}
            <a {% if block.settings.feat_promo_link_3 != blank %}href="{{ block.settings.feat_promo_link_3 }}"{% endif %}class="link-promo"></a>
          {% endif %}
        </div>
      {% if title_on_image == blank %}
        {% if block.settings.feat_promo_title_3 != blank %}
          <a {% if block.settings.feat_promo_link_3 != blank %}href="{{ block.settings.feat_promo_link_3 }}"{% endif %}>
            <h2 class="title title-below">{{ block.settings.feat_promo_title_3 }}</h2>
          </a>
        {% endif %}
      {% endif %}
    </figure>

    <figure class="feature-section section-{{ forloop.index }} promo-{{ forloop.index }} title-overlay-{{ title_on_image }} {% if block.settings.featured_links_animation != blank %}promo-animation--true{% endif %}" {{ block.shopify_attributes }}>
        <div class="feature-inner feature-style--{{ block.settings.feature_style }} ">
          <img  src="{{ block.settings.feat_promo_image_4 | img_url: '800x' }}"
                alt="{% if block.settings.feat_promo_image_4.alt != blank %}{{ block.settings.feat_promo_image_4.alt }}{% else %}{{ block.settings.feat_promo_title_4 | escape }}{% endif %}"
                class="lazyload full-width-image {{ settings.image_loading_style }}"
                />
          {% if block.settings.feat_promo_text_4 != blank or block.settings.feat_promo_button_label_4 != blank or block.settings.feat_promo_title_4 != blank and title_on_image != blank %}
            <figcaption class="feature-overlay">
              <a {% if block.settings.feat_promo_link_4 != blank %}href="{{ block.settings.feat_promo_link_4 }}"{% endif %}class="link-promo"></a>
                <div class="feature-wrap">
                  {% if block.settings.feat_promo_title_4 != blank %}
                    <h2 class="title">{{ block.settings.feat_promo_title_4 }}</h2>
                  {% endif %}
                  <div class="feature-details">
                    {% if block.settings.feat_promo_text_4 != blank %}
                      <div class="description">{{ block.settings.feat_promo_text_4 }}</div>
                    {% endif %}

                    {% if block.settings.feat_promo_button_label_4 != blank %}
                      <div class="button">{{ block.settings.feat_promo_button_label_4 }}</div>
                    {% endif %}
                  </div>
                </div>
            </figcaption>
          {% elsif block.settings.feat_promo_link_4 != blank %}
            <a {% if block.settings.feat_promo_link_4 != blank %}href="{{ block.settings.feat_promo_link_4 }}"{% endif %}class="link-promo"></a>
          {% endif %}
        </div>
      {% if title_on_image == blank %}
        {% if block.settings.feat_promo_title_4 != blank %}
          <a {% if block.settings.feat_promo_link_4 != blank %}href="{{ block.settings.feat_promo_link_4 }}"{% endif %}>
            <h2 class="title title-below">{{ block.settings.feat_promo_title_4 }}</h2>
          </a>
        {% endif %}
      {% endif %}
    </figure>

  </div>
</div>