{% comment %}
** Testimonial - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

{% assign default = '1400x' %}
{% assign size1 = '480x' %}
{% assign size2 = '765x' %}
{% assign size3 = '900x' %}
{% assign size4 = '1000x' %}
{% assign size5 = '1100x' %}
{% assign size6 = '1300x' %}
{% assign size7 = '1500x' %}
{% assign size8 = '1700x' %}
{% assign size9 = '1900x' %}
{% assign size10 = '2000x' %}


  <div  id="testimonial-{{section.id}}"
        class="testimonial-slideshow js-testimonial text-animation--true {% if settings.slideshow_button_style != true %}light-button{% endif %}"
        data-slider-id="testimonial-{{section.id}}"
        data-slideshow-speed="{{block.settings.testimonial_speed}}"
        data-slideshow-text-animation="{{block.settings.testimonial_text_animation}}"
        >

    {% if block.settings.testimonial_image_1 %}
      <div class="testimonial-block gallery-cell slide-1 {% if block.settings.enable_image == false %}set-static use-mobile-color{% endif %}" {{ block.shopify_attributes }} data-block-id="{{block.id}}">

        <img  src="{{ block.settings.testimonial_image_1 | img_url: '100x', format: 'pjpg' }}"
              alt="{{ block.settings.testimonial_image_1.alt | escape }}"
              class="testimonial-image lazyload js-image-loaded {{ settings.image_loading_style }}"
              sizes="100vw"
              data-src="{{ block.settings.testimonial_image_1 | img_url: default, format: 'pjpg' }}"
              srcset="
              {{ block.settings.testimonial_image_1 | img_url: default, format: 'pjpg' }} {{default | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_1 | img_url: size1, format: 'pjpg' }} {{size1 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_1 | img_url: size2, format: 'pjpg' }} {{size2 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_1 | img_url: size3, format: 'pjpg' }} {{size3 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_1 | img_url: size4, format: 'pjpg' }} {{size4 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_1 | img_url: size5, format: 'pjpg' }} {{size5 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_1 | img_url: size6, format: 'pjpg' }} {{size6 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_1 | img_url: size7, format: 'pjpg' }} {{size7 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_1 | img_url: size8, format: 'pjpg' }} {{size8 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_1 | img_url: size9, format: 'pjpg' }} {{size9 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_1 | img_url: size10, format: 'pjpg' }} {{size10 | replace: 'x', 'w'}}"
               />

        {% if block.settings.testimonials_darken_bg_1 %}<div class="darken-bg"></div>{% endif %}

        <div class="caption position-{{block.settings.testimonial_text_position_1}} js-caption {% unless block.settings.testimonial_enable_image_1 == false %}no-white-bg{% endunless %}">
            <div class="caption-content testimonial-text align-{{block.settings.testimonials_text_align_1}}">
              {% if block.settings.testimonial_title_1 != blank %}
                <p class="headline">
                  {{ block.settings.testimonial_title_1 }}
                </p>
                <div class="feature_divider"></div>
              {% endif %}
              <div class="subtitle">
                {{ block.settings.testimonial_testimonial_1 }}
                <p>
                  {% if block.settings.testimonial_name_1 != blank %}
                   {{ block.settings.testimonial_name_1 }}<br>
                  {% endif %}

                  {% if block.settings.testimonial_store_name_1 != blank %}
                    {% if block.settings.testimonial_link_1 != blank %}<a href="{{ block.settings.testimonials_link_1 }}" {% if block.settings.testimonials_make_link_white_btn_1 %}class="button_inverse"{% endif %}>{% endif %}
                      <strong>{{ block.settings.testimonial_store_name_1 }}</strong>
                    {% if block.settings.testimonial_link_1 != blank %}</a>{% endif %}
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
    {% endif %}

    {% if block.settings.testimonial_image_2 %}
      <div class="testimonial-block gallery-cell slide-2 {% if block.settings.enable_image == false %}set-static use-mobile-color{% endif %}" {{ block.shopify_attributes }} data-block-id="{{block.id}}">

        <img  src="{{ block.settings.testimonial_image_2 | img_url: '100x', format: 'pjpg' }}"
              alt="{{ block.settings.testimonial_image_2.alt | escape }}"
              class="testimonial-image lazyload js-image-loaded {{ settings.image_loading_style }}"
              sizes="100vw"
              data-src="{{ block.settings.testimonial_image_2 | img_url: default, format: 'pjpg' }}"
              srcset="
              {{ block.settings.testimonial_image_2 | img_url: default, format: 'pjpg' }} {{default | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_2 | img_url: size1, format: 'pjpg' }} {{size1 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_2 | img_url: size2, format: 'pjpg' }} {{size2 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_2 | img_url: size3, format: 'pjpg' }} {{size3 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_2 | img_url: size4, format: 'pjpg' }} {{size4 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_2 | img_url: size5, format: 'pjpg' }} {{size5 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_2 | img_url: size6, format: 'pjpg' }} {{size6 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_2 | img_url: size7, format: 'pjpg' }} {{size7 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_2 | img_url: size8, format: 'pjpg' }} {{size8 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_2 | img_url: size9, format: 'pjpg' }} {{size9 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_2 | img_url: size10, format: 'pjpg' }} {{size10 | replace: 'x', 'w'}}"
               />

        {% if block.settings.testimonials_darken_bg_2 %}<div class="darken-bg"></div>{% endif %}

        <div class="caption position-{{block.settings.testimonial_text_position_2}} js-caption {% unless block.settings.testimonial_enable_image_1 == false %}no-white-bg{% endunless %}">
            <div class="caption-content testimonial-text align-{{block.settings.testimonials_text_align_2}}">
              {% if block.settings.testimonial_title_2 != blank %}
                <p class="headline">
                  {{ block.settings.testimonial_title_2 }}
                </p>
                <div class="feature_divider"></div>
              {% endif %}
              <div class="subtitle">
                {{ block.settings.testimonial_testimonial_2 }}
                <p>
                  {% if block.settings.testimonial_name_2 != blank %}
                   {{ block.settings.testimonial_name_2 }}<br>
                  {% endif %}

                  {% if block.settings.testimonial_store_name_2 != blank %}
                    {% if block.settings.testimonial_link_2 != blank %}<a href="{{ block.settings.testimonials_link_2 }}" {% if block.settings.testimonials_make_link_white_btn_2 %}class="button_inverse"{% endif %}>{% endif %}
                      <strong>{{ block.settings.testimonial_store_name_2 }}</strong>
                    {% if block.settings.testimonial_link_2 != blank %}</a>{% endif %}
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
    {% endif %}

    {% if block.settings.testimonial_image_3 %}
      <div class="testimonial-block gallery-cell slide-3 {% if block.settings.enable_image == false %}set-static use-mobile-color{% endif %}" {{ block.shopify_attributes }} data-block-id="{{block.id}}">

        <img  src="{{ block.settings.testimonial_image_3 | img_url: '100x', format: 'pjpg' }}"
              alt="{{ block.settings.testimonial_image_3.alt | escape }}"
              class="testimonial-image lazyload js-image-loaded {{ settings.image_loading_style }}"
              sizes="100vw"
              data-src="{{ block.settings.testimonial_image_3 | img_url: default, format: 'pjpg' }}"
              srcset="
              {{ block.settings.testimonial_image_3 | img_url: default, format: 'pjpg' }} {{default | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_3 | img_url: size1, format: 'pjpg' }} {{size1 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_3 | img_url: size2, format: 'pjpg' }} {{size2 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_3 | img_url: size3, format: 'pjpg' }} {{size3 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_3 | img_url: size4, format: 'pjpg' }} {{size4 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_3 | img_url: size5, format: 'pjpg' }} {{size5 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_3 | img_url: size6, format: 'pjpg' }} {{size6 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_3 | img_url: size7, format: 'pjpg' }} {{size7 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_3 | img_url: size8, format: 'pjpg' }} {{size8 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_3 | img_url: size9, format: 'pjpg' }} {{size9 | replace: 'x', 'w'}},
              {{ block.settings.testimonial_image_3 | img_url: size10, format: 'pjpg' }} {{size10 | replace: 'x', 'w'}}"
               />

        {% if block.settings.testimonials_darken_bg_3 %}<div class="darken-bg"></div>{% endif %}

        <div class="caption position-{{block.settings.testimonial_text_position_3}} js-caption {% unless block.settings.testimonial_enable_image_3 == false %}no-white-bg{% endunless %}">
            <div class="caption-content testimonial-text align-{{block.settings.testimonials_text_align_3}}">
              {% if block.settings.testimonial_title_3 != blank %}
                <p class="headline">
                  {{ block.settings.testimonial_title_3 }}
                </p>
                <div class="feature_divider"></div>
              {% endif %}
              <div class="subtitle">
                {{ block.settings.testimonial_testimonial_3 }}
                <p>
                  {% if block.settings.testimonial_name_3 != blank %}
                   {{ block.settings.testimonial_name_3 }}<br>
                  {% endif %}

                  {% if block.settings.testimonial_store_name_3 != blank %}
                    {% if block.settings.testimonial_link_3 != blank %}<a href="{{ block.settings.testimonials_link_1 }}" {% if block.settings.testimonials_make_link_white_btn_3 %}class="button_inverse"{% endif %}>{% endif %}
                      <strong>{{ block.settings.testimonial_store_name_3 }}</strong>
                    {% if block.settings.testimonial_link_3 != blank %}</a>{% endif %}
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
    {% endif %}


  </div>
