<div class="container flex-list">
  {% if block.settings.columns_title_main != blank %}
    <div class="sixteen columns">
      <h2 class="title center">{{ block.settings.columns_title_main | escape }}</h2>
      <div class="feature_divider"></div>
    </div>
  {% endif %}

  {% if block.settings.columns_image_1 and block.settings.columns_image_2 and block.settings.columns_image_3 and block.settings.columns_image_4 %}
    {%- assign column_width = 'four columns' -%}
  {% elsif block.settings.columns_image_1 and block.settings.columns_image_2 and block.settings.columns_image_3 %}
    {%- assign column_width = 'one-third column' -%}
  {% elsif block.settings.columns_image_1 and block.settings.columns_image_2 %}
    {%- assign column_width = 'one-half column' -%}
  {% else %}
    {%- assign column_width = 'sixteen column' -%}
  {% endif %}

  {% comment %}this is the desktop HTML bc we need to align multiple siblings which is not possible with flexbox (yet){% endcomment %}
  <div class="hide-mobile">
    <div class="container pad-top-half">
      {% if block.settings.columns_title_1 != blank %}
      <div class="{{ column_width }}">
        <h3 class="{{ block.settings.columns_heading_size }}">{{ block.settings.columns_title_1 | escape }}</h3>
      </div>
      {% endif %}
      {% if block.settings.columns_title_2 != blank %}
      <div class="{{ column_width }}">
        <h3 class="{{ block.settings.columns_heading_size }}">{{ block.settings.columns_title_2 | escape }}</h3>
      </div>
      {% endif %}
      {% if block.settings.columns_title_3 != blank %}
      <div class="{{ column_width }}">
        <h3 class="{{ block.settings.columns_heading_size }}">{{ block.settings.columns_title_3 | escape }}</h3>
      </div>
      {% endif %}
      {% if block.settings.columns_title_4 != blank %}
      <div class="{{ column_width }}">
        <h3 class="{{ block.settings.columns_heading_size }}">{{ block.settings.columns_title_4 | escape }}</h3>
      </div>
      {% endif %}
    </div>
    <div class="container pad-top-half">
      {% if block.settings.columns_image_1 %}
        <p class="{{ column_width }}">
          <img  src="{{ block.settings.columns_image_1.src | img_url: '300x' }}"
              class="lazyload {{ settings.image_loading_style }}"
              alt="{{ block.settings.columns_image_1.alt }}"
              data-sizes="auto"
              data-src="{{ block.settings.columns_image_1 | img_url }}"
              data-srcset=" {{ block.settings.columns_image_1 | img_url: '2048x' }} 2048w,
                            {{ block.settings.columns_image_1 | img_url: '1200x' }} 1200w,
                            {{ block.settings.columns_image_1 | img_url: '1000x' }} 1000w,
                            {{ block.settings.columns_image_1 | img_url: '800x' }} 800w,
                            {{ block.settings.columns_image_1 | img_url: '600x' }} 600w,
                            {{ block.settings.columns_image_1 | img_url: '400x' }} 400w"
          />
        </p>
        <noscript>
          <p>
            {{ block.settings.columns_image_1 | img_url: '480x480', scale: 2 | img_tag: block.settings.columns_image_1.alt }}
          </p>
        </noscript>
      {% endif %}
      {% if block.settings.columns_image_1 %}
        <p class="{{ column_width }}">
          <img  src="{{ block.settings.columns_image_1.src | img_url: '300x' }}"
              class="lazyload {{ settings.image_loading_style }}"
              alt="{{ block.settings.columns_image_2.alt }}"
              data-sizes="auto"
              data-src="{{ block.settings.columns_image_2 | img_url }}"
              data-srcset=" {{ block.settings.columns_image_2 | img_url: '2048x' }} 2048w,
                            {{ block.settings.columns_image_2 | img_url: '1200x' }} 1200w,
                            {{ block.settings.columns_image_2 | img_url: '1000x' }} 1000w,
                            {{ block.settings.columns_image_2 | img_url: '800x' }} 800w,
                            {{ block.settings.columns_image_2 | img_url: '600x' }} 600w,
                            {{ block.settings.columns_image_2 | img_url: '400x' }} 400w"
          />
        </p>
        <noscript>
          <p>
            {{ block.settings.columns_image_2 | img_url: '480x480', scale: 2 | img_tag: block.settings.columns_image_2.alt }}
          </p>
        </noscript>
      {% endif %}
      {% if block.settings.columns_image_3 %}
        <p class="{{ column_width }}">
          <img  src="{{ block.settings.columns_image_3.src | img_url: '300x' }}"
              class="lazyload {{ settings.image_loading_style }}"
              alt="{{ block.settings.columns_image_3.alt }}"
              data-sizes="auto"
              data-src="{{ block.settings.columns_image_3 | img_url }}"
              data-srcset=" {{ block.settings.columns_image_3 | img_url: '2048x' }} 2048w,
                            {{ block.settings.columns_image_3 | img_url: '1200x' }} 1200w,
                            {{ block.settings.columns_image_3 | img_url: '1000x' }} 1000w,
                            {{ block.settings.columns_image_3 | img_url: '800x' }} 800w,
                            {{ block.settings.columns_image_3 | img_url: '600x' }} 600w,
                            {{ block.settings.columns_image_3 | img_url: '400x' }} 400w"
          />
        </p>
        <noscript>
          <p>
            {{ block.settings.columns_image_3 | img_url: '480x480', scale: 2 | img_tag: block.settings.columns_image_3.alt }}
          </p>
        </noscript>
      {% endif %}
      {% if block.settings.columns_image_4 %}
        <p class="{{ column_width }}">
          <img  src="{{ block.settings.columns_image_4.src | img_url: '300x' }}"
              class="lazyload {{ settings.image_loading_style }}"
              alt="{{ block.settings.columns_image_4.alt }}"
              data-sizes="auto"
              data-src="{{ block.settings.columns_image_4 | img_url }}"
              data-srcset=" {{ block.settings.columns_image_4 | img_url: '2048x' }} 2048w,
                            {{ block.settings.columns_image_4 | img_url: '1200x' }} 1200w,
                            {{ block.settings.columns_image_4 | img_url: '1000x' }} 1000w,
                            {{ block.settings.columns_image_4 | img_url: '800x' }} 800w,
                            {{ block.settings.columns_image_4 | img_url: '600x' }} 600w,
                            {{ block.settings.columns_image_4 | img_url: '400x' }} 400w"
          />
        </p>
        <noscript>
          <p>
            {{ block.settings.columns_image_4 | img_url: '480x480', scale: 2 | img_tag: block.settings.columns_image_4.alt }}
          </p>
        </noscript>
      {% endif %}
    </div>

    <div class="container pad-top-half">
      <div class="{{ column_width }}">
        {% if block.settings.columns_text_1 != blank %}
          <div class="rte-setting">{{ block.settings.columns_text_1 }}</div>
        {% endif %}
      </div>
      <div class="{{ column_width }}">
        {% if block.settings.columns_text_2 != blank %}
          <div class="rte-setting">{{ block.settings.columns_text_2 }}</div>
        {% endif %}
      </div>
      <div class="{{ column_width }}">
        {% if block.settings.columns_text_3 != blank %}
          <div class="rte-setting">{{ block.settings.columns_text_3 }}</div>
        {% endif %}
      </div>
      <div class="{{ column_width }}">
        {% if block.settings.columns_text_4 != blank %}
          <div class="rte-setting">{{ block.settings.columns_text_4 }}</div>
        {% endif %}
      </div>
    </div>

    <div class="container pad-top-none">
      <div class="{{ column_width }}">
        {% if block.settings.columns_button_label_1 != blank and block.settings.columns_button_link_1 != blank %}
          <a href="{{ block.settings.columns_button_link_1 }}" class="action_button continue-button">
            {{ block.settings.columns_button_label_1 | escape }}
          </a>
        {% endif %}
      </div>
      <div class="{{ column_width }}">
        {% if block.settings.columns_button_label_2 != blank and block.settings.columns_button_link_2 != blank %}
          <a href="{{ block.settings.columns_button_link_2 }}" class="action_button continue-button">
            {{ block.settings.columns_button_label_2 | escape }}
          </a>
        {% endif %}
      </div>
      <div class="{{ column_width }}">
        {% if block.settings.columns_button_label_3 != blank and block.settings.columns_button_link_3 != blank %}
          <a href="{{ block.settings.columns_button_link_3 }}" class="action_button continue-button">
            {{ block.settings.columns_button_label_3 | escape }}
          </a>
        {% endif %}
      </div>      
      <div class="{{ column_width }}">
        {% if block.settings.columns_button_label_4 != blank and block.settings.columns_button_link_4 != blank %}
          <a href="{{ block.settings.columns_button_link_4 }}" class="action_button continue-button">
            {{ block.settings.columns_button_label_4 | escape }}
          </a>
        {% endif %}
      </div>
    </div>

  </div>


  {% comment %}mobile columns{% endcomment %}
  {% if block.settings.columns_image_1 %}
    <div class="{{ column_width }} text-column hide-desktop" {{ block.shopify_attributes }}>
      <div class="text-align--{{ block.settings.columns_align_text }}">
        {% if block.settings.columns_title_1 != blank %}
          <h3 class="{{ block.settings.columns_heading_size }}">{{ block.settings.columns_title_1 | escape }}</h3>
        {% endif %}
        <p>
          <img  src="{{ block.settings.columns_image_1.src | img_url: '300x' }}"
            class="lazyload {{ settings.image_loading_style }}"
            alt="{{ block.settings.columns_image_1.alt }}"
            data-sizes="auto"
            data-src="{{ block.settings.image | img_url }}"
            data-srcset=" {{ block.settings.columns_image_1 | img_url: '2048x' }} 2048w,
                          {{ block.settings.columns_image_1 | img_url: '1200x' }} 1200w,
                          {{ block.settings.columns_image_1 | img_url: '1000x' }} 1000w,
                          {{ block.settings.columns_image_1 | img_url: '800x' }} 800w,
                          {{ block.settings.columns_image_1 | img_url: '600x' }} 600w,
                          {{ block.settings.columns_image_1 | img_url: '400x' }} 400w"
            />
        </p>
        <noscript>
          <p>
            {{ block.settings.columns_image_1 | img_url: '480x480', scale: 2 | img_tag: block.settings.columns_image_1.alt }}
          </p>
        </noscript>
        {% if block.settings.columns_text_1 != blank %}
          <div class="rte-setting">{{ block.settings.columns_text_1 }}</div>
        {% endif %}
        {% if block.settings.columns_button_label_1 != blank and block.settings.columns_button_link_1 != blank %}
          <a href="{{ block.settings.columns_button_link_1 }}" class="action_button continue-button">
            {{ block.settings.columns_button_label_1 | escape }}
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}


  {% if block.settings.columns_image_2 %}
    <div class="{{ column_width }} text-column hide-desktop" {{ block.shopify_attributes }}>
      <div class="text-align--{{ block.settings.columns_align_text }}">
        {% if block.settings.columns_title_2 != blank %}
          <h3 class="{{ block.settings.columns_heading_size }}">{{ block.settings.columns_title_2 | escape }}</h3>
        {% endif %}
        <p>
          <img  src="{{ block.settings.columns_image_2.src | img_url: '300x' }}"
            class="lazyload {{ settings.image_loading_style }}"
            alt="{{ block.settings.columns_image_2.alt }}"
            data-sizes="auto"
            data-src="{{ block.settings.image | img_url }}"
            data-srcset=" {{ block.settings.columns_image_2 | img_url: '2048x' }} 2048w,
                          {{ block.settings.columns_image_2 | img_url: '1200x' }} 1200w,
                          {{ block.settings.columns_image_2 | img_url: '1000x' }} 1000w,
                          {{ block.settings.columns_image_2 | img_url: '800x' }} 800w,
                          {{ block.settings.columns_image_2 | img_url: '600x' }} 600w,
                          {{ block.settings.columns_image_2 | img_url: '400x' }} 400w"
            />
        </p>
        <noscript>
          <p>
            {{ block.settings.columns_image_2 | img_url: '480x480', scale: 2 | img_tag: block.settings.columns_image_2.alt }}
          </p>
        </noscript>
        {% if block.settings.columns_text_2 != blank %}
          <div class="rte-setting">{{ block.settings.columns_text_2 }}</div>
        {% endif %}
        {% if block.settings.columns_button_label_2 != blank and block.settings.columns_button_link_2 != blank %}
          <a href="{{ block.settings.columns_button_link_2 }}" class="action_button continue-button">
            {{ block.settings.columns_button_label_2 | escape }}
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  

  {% if block.settings.columns_image_3 %}
    <div class="{{ column_width }} text-column hide-desktop" {{ block.shopify_attributes }}>
      <div class="text-align--{{ block.settings.columns_align_text }}">
        {% if block.settings.columns_title_3 != blank %}
          <h3 class="{{ block.settings.columns_heading_size }}">{{ block.settings.columns_title_3 | escape }}</h3>
        {% endif %}
        <p>
          <img  src="{{ block.settings.columns_image_3.src | img_url: '300x' }}"
            class="lazyload {{ settings.image_loading_style }}"
            alt="{{ block.settings.columns_image_3.alt }}"
            data-sizes="auto"
            data-src="{{ block.settings.image | img_url }}"
            data-srcset=" {{ block.settings.columns_image_3 | img_url: '2048x' }} 2048w,
                          {{ block.settings.columns_image_3 | img_url: '1200x' }} 1200w,
                          {{ block.settings.columns_image_3 | img_url: '1000x' }} 1000w,
                          {{ block.settings.columns_image_3 | img_url: '800x' }} 800w,
                          {{ block.settings.columns_image_3 | img_url: '600x' }} 600w,
                          {{ block.settings.columns_image_3 | img_url: '400x' }} 400w"
            />
        </p>
        <noscript>
          <p>
            {{ block.settings.columns_image_3 | img_url: '480x480', scale: 2 | img_tag: block.settings.columns_image_3.alt }}
          </p>
        </noscript>
        {% if block.settings.columns_text_3 != blank %}
          <div class="rte-setting">{{ block.settings.columns_text_3 }}</div>
        {% endif %}
        {% if block.settings.columns_button_label_3 != blank and block.settings.columns_button_link_3 != blank %}
          <a href="{{ block.settings.columns_button_link_3 }}" class="action_button continue-button">
            {{ block.settings.columns_button_label_3 | escape }}
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}


  {% if block.settings.columns_image_4 %}
    <div class="{{ column_width }} text-column hide-desktop" {{ block.shopify_attributes }}>
      <div class="text-align--{{ block.settings.columns_align_text }}">
        {% if block.settings.columns_title_4 != blank %}
          <h3 class="{{ block.settings.columns_heading_size }}">{{ block.settings.columns_title_4 | escape }}</h3>
        {% endif %}
        <p>
          <img  src="{{ block.settings.columns_image_4.src | img_url: '300x' }}"
            class="lazyload {{ settings.image_loading_style }}"
            alt="{{ block.settings.columns_image_4.alt }}"
            data-sizes="auto"
            data-src="{{ block.settings.image | img_url }}"
            data-srcset=" {{ block.settings.columns_image_4 | img_url: '2048x' }} 2048w,
                          {{ block.settings.columns_image_4 | img_url: '1200x' }} 1200w,
                          {{ block.settings.columns_image_4 | img_url: '1000x' }} 1000w,
                          {{ block.settings.columns_image_4 | img_url: '800x' }} 800w,
                          {{ block.settings.columns_image_4 | img_url: '600x' }} 600w,
                          {{ block.settings.columns_image_4 | img_url: '400x' }} 400w"
            />
        </p>
        <noscript>
          <p>
            {{ block.settings.columns_image_4 | img_url: '480x480', scale: 2 | img_tag: block.settings.columns_image_4.alt }}
          </p>
        </noscript>
        {% if block.settings.columns_text_4 != blank %}
          <div class="rte-setting">{{ block.settings.columns_text_4 }}</div>
        {% endif %}
        {% if block.settings.columns_button_label_4 != blank and block.settings.columns_button_link_4 != blank %}
          <a href="{{ block.settings.columns_button_link_4 }}" class="action_button continue-button">
            {{ block.settings.columns_button_label_4 | escape }}
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}

</div>