{% comment %}
** Slideshow - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

{% assign default = '1400x' %}
{% assign size1 = '480x' %}
{% assign size2 = '765x' %}
{% assign size3 = '900x' %}
{% assign size4 = '1000x' %}
{% assign size5 = '1100x' %}
{% assign size6 = '1300x' %}
{% assign size7 = '1500x' %}
{% assign size8 = '1700x' %}
{% assign size9 = '1900x' %}
{% assign size10 = '2000x' %}

<section id="homepage_slider-{{section.id}}"
      class="homepage-slideshow js-homepage-slideshow slideshow_animation--{{ block.settings.slideshow_animation }} {% if block.settings.slideshow_text_animation != '' %}text-animation--true{% endif %} {% if block.settings.slideshow_button_style != true %}light-button{% endif %}"
      data-slider-id="homepage_slider-{{section.id}}"
      data-slideshow-speed="{{block.settings.slideshow_speed}}"
      data-slideshow-text-animation="{{block.settings.slideshow_text_animation}}"
      >

    {% if block.settings.image_1 %}
      <div class="gallery-cell slide-1" {{ block.shopify_attributes }} data-block-id="{{block.id}}">
      <img  src="{{ block.settings.image_1 | img_url: '100x', format: 'pjpg' }}"
            alt="{{ block.settings.image_1.alt | escape }}"
            class="lazyload {{ settings.image_loading_style }}"
            sizes="100vw"
            data-src="{{ block.settings.image_1 | img_url: default, format: 'pjpg' }}"
            srcset="
            {{ block.settings.image_1 | img_url: default, format: 'pjpg' }} {{default | replace: 'x', 'w'}},
            {{ block.settings.image_1 | img_url: size1, format: 'pjpg' }} {{size1 | replace: 'x', 'w'}},
            {{ block.settings.image_1 | img_url: size2, format: 'pjpg' }} {{size2 | replace: 'x', 'w'}},
            {{ block.settings.image_1 | img_url: size3, format: 'pjpg' }} {{size3 | replace: 'x', 'w'}},
            {{ block.settings.image_1 | img_url: size4, format: 'pjpg' }} {{size4 | replace: 'x', 'w'}},
            {{ block.settings.image_1 | img_url: size5, format: 'pjpg' }} {{size5 | replace: 'x', 'w'}},
            {{ block.settings.image_1 | img_url: size6, format: 'pjpg' }} {{size6 | replace: 'x', 'w'}},
            {{ block.settings.image_1 | img_url: size7, format: 'pjpg' }} {{size7 | replace: 'x', 'w'}},
            {{ block.settings.image_1 | img_url: size8, format: 'pjpg' }} {{size8 | replace: 'x', 'w'}},
            {{ block.settings.image_1 | img_url: size9, format: 'pjpg' }} {{size9 | replace: 'x', 'w'}},
            {{ block.settings.image_1 | img_url: size10, format: 'pjpg' }} {{size10 | replace: 'x', 'w'}}"
             />
        {% unless block.settings.button1_link_1 != blank and block.settings.button2_link_1 != blank %}
          {% if block.settings.button1_link_1 != blank %}
            <a href="{{ block.settings.button1_link_1 }}" class="banner-full-link">
              {{ block.settings.title_1 }}
            </a>
          {% elsif block.settings.button2_link_1 != blank %}
            <a href="{{ block.settings.button2_link_1 }}" class="banner-full-link">
              {{ block.settings.title_1 }}
            </a>
          {% endif %}
        {% endunless %}
        {% unless block.settings.pretext_1 == blank and block.settings.title_1 == blank and block.settings.subtitle_1 == blank and block.settings.button1_1 == blank and block.settings.button2_1 == blank %}
          <div class="caption position-{{block.settings.text_position_1}} js-caption">
              <div class="caption-content
                          caption-background-{{block.settings.caption_background_1}}
                          caption-transparency-{{ block.settings.caption_background_transparency_1 }}
                          align-{{block.settings.text_align_1}}">
                {% if block.settings.pretext_1 != blank %}
                  <div class="pretext">
                    {{ block.settings.pretext_1 }}
                  </div>
                {% endif %}
                {% if block.settings.title_1 != blank %}
                  <h1 class="headline">
                    {{ block.settings.title_1 }}
                  </h1>
                {% endif %}
                {% if block.settings.subtitle_1 != blank %}
                  <div class="subtitle">
                    {{ block.settings.subtitle_1 }}
                  </div>
                {% endif %}
                {% if block.settings.button1_1 != blank %}
                  <a {% if block.settings.button1_link_1 != blank %}href="{{ block.settings.button1_link_1 }}"{% endif %} class="action_button first_button highlight-{{block.settings.button1_highlight_1}}">
                    {{ block.settings.button1_1 }}
                  </a>
                {% endif %}
                {% if block.settings.button2_1 != blank %}
                  <a {% if block.settings.button2_link_1 != blank %}href="{{ block.settings.button2_link_1 }}"{% endif %} class="action_button second_button highlight-{{block.settings.button2_highlight_1}}">
                    {{ block.settings.button2_1 }}
                  </a>
                {% endif %}
              </div>
            </div>
        {% endunless %}
      </div>
  {% endif %}

  {% if block.settings.image_2 %}
      <div class="gallery-cell slide-2" {{ block.shopify_attributes }} data-block-id="{{block.id}}">
      <img  src="{{ block.settings.image_2 | img_url: '100x', format: 'pjpg' }}"
            alt="{{ block.settings.image_2.alt | escape }}"
            class="lazyload {{ settings.image_loading_style }}"
            sizes="100vw"
            data-src="{{ block.settings.image_2 | img_url: default, format: 'pjpg' }}"
            srcset="
            {{ block.settings.image_2 | img_url: default, format: 'pjpg' }} {{default | replace: 'x', 'w'}},
            {{ block.settings.image_2 | img_url: size1, format: 'pjpg' }} {{size1 | replace: 'x', 'w'}},
            {{ block.settings.image_2 | img_url: size2, format: 'pjpg' }} {{size2 | replace: 'x', 'w'}},
            {{ block.settings.image_2 | img_url: size3, format: 'pjpg' }} {{size3 | replace: 'x', 'w'}},
            {{ block.settings.image_2 | img_url: size4, format: 'pjpg' }} {{size4 | replace: 'x', 'w'}},
            {{ block.settings.image_2 | img_url: size5, format: 'pjpg' }} {{size5 | replace: 'x', 'w'}},
            {{ block.settings.image_2 | img_url: size6, format: 'pjpg' }} {{size6 | replace: 'x', 'w'}},
            {{ block.settings.image_2 | img_url: size7, format: 'pjpg' }} {{size7 | replace: 'x', 'w'}},
            {{ block.settings.image_2 | img_url: size8, format: 'pjpg' }} {{size8 | replace: 'x', 'w'}},
            {{ block.settings.image_2 | img_url: size9, format: 'pjpg' }} {{size9 | replace: 'x', 'w'}},
            {{ block.settings.image_2 | img_url: size10, format: 'pjpg' }} {{size10 | replace: 'x', 'w'}}"
             />
        {% unless block.settings.button1_link_2 != blank and block.settings.button2_link_2 != blank %}
          {% if block.settings.button1_link_2 != blank %}
            <a href="{{ block.settings.button2_link_2 }}" class="banner-full-link">
              {{ block.settings.title_2 }}
            </a>
          {% elsif block.settings.button2_link_2 != blank %}
            <a href="{{ block.settings.button2_link_2 }}" class="banner-full-link">
              {{ block.settings.title_2 }}
            </a>
          {% endif %}
        {% endunless %}
        {% unless block.settings.pretext_2 == blank and block.settings.title_2 == blank and block.settings.subtitle_2 == blank and block.settings.button1_2 == blank and block.settings.button2_2 == blank %}
          <div class="caption position-{{block.settings.text_position_2}} js-caption">
              <div class="caption-content
                          caption-background-{{block.settings.caption_background_2}}
                          caption-transparency-{{ block.settings.caption_background_transparency_2}}
                          align-{{block.settings.text_align_2}}">
                {% if block.settings.pretext_2 != blank %}
                  <div class="pretext">
                    {{ block.settings.pretext_2 }}
                  </div>
                {% endif %}
                {% if block.settings.title_2 != blank %}
                  <h1 class="headline">
                    {{ block.settings.title_2 }}
                  </h1>
                {% endif %}
                {% if block.settings.subtitle_2 != blank %}
                  <div class="subtitle">
                    {{ block.settings.subtitle_2 }}
                  </div>
                {% endif %}
                {% if block.settings.button1_2 != blank %}
                  <a {% if block.settings.button1_link_2 != blank %}href="{{ block.settings.button1_link_2 }}"{% endif %} class="action_button first_button highlight-{{block.settings.button1_highlight_2}}">
                    {{ block.settings.button1_2 }}
                  </a>
                {% endif %}
                {% if block.settings.button2_2 != blank %}
                  <a {% if block.settings.button2_link_2 != blank %}href="{{ block.settings.button2_link_2 }}"{% endif %} class="action_button second_button highlight-{{block.settings.button2_highlight_2}}">
                    {{ block.settings.button2_2 }}
                  </a>
                {% endif %}
              </div>
            </div>
        {% endunless %}
      </div>
  {% endif %}

  {% if block.settings.image_3 %}
      <div class="gallery-cell slide-3" {{ block.shopify_attributes }} data-block-id="{{block.id}}">
      <img  src="{{ block.settings.image_3 | img_url: '100x', format: 'pjpg' }}"
            alt="{{ block.settings.image_3.alt | escape }}"
            class="lazyload {{ settings.image_loading_style }}"
            sizes="100vw"
            data-src="{{ block.settings.image_3 | img_url: default, format: 'pjpg' }}"
            srcset="
            {{ block.settings.image_3 | img_url: default, format: 'pjpg' }} {{default | replace: 'x', 'w'}},
            {{ block.settings.image_3 | img_url: size1, format: 'pjpg' }} {{size1 | replace: 'x', 'w'}},
            {{ block.settings.image_3 | img_url: size2, format: 'pjpg' }} {{size2 | replace: 'x', 'w'}},
            {{ block.settings.image_3 | img_url: size3, format: 'pjpg' }} {{size3 | replace: 'x', 'w'}},
            {{ block.settings.image_3 | img_url: size4, format: 'pjpg' }} {{size4 | replace: 'x', 'w'}},
            {{ block.settings.image_3 | img_url: size5, format: 'pjpg' }} {{size5 | replace: 'x', 'w'}},
            {{ block.settings.image_3 | img_url: size6, format: 'pjpg' }} {{size6 | replace: 'x', 'w'}},
            {{ block.settings.image_3 | img_url: size7, format: 'pjpg' }} {{size7 | replace: 'x', 'w'}},
            {{ block.settings.image_3 | img_url: size8, format: 'pjpg' }} {{size8 | replace: 'x', 'w'}},
            {{ block.settings.image_3 | img_url: size9, format: 'pjpg' }} {{size9 | replace: 'x', 'w'}},
            {{ block.settings.image_3 | img_url: size10, format: 'pjpg' }} {{size10 | replace: 'x', 'w'}}"
             />
        {% unless block.settings.button1_link_3 != blank and block.settings.button2_link_3 != blank %}
          {% if block.settings.button1_link_3 != blank %}
            <a href="{{ block.settings.button2_link_3 }}" class="banner-full-link">
              {{ block.settings.title_3 }}
            </a>
          {% elsif block.settings.button2_link_3 != blank %}
            <a href="{{ block.settings.button2_link_3 }}" class="banner-full-link">
              {{ block.settings.title_3 }}
            </a>
          {% endif %}
        {% endunless %}
        {% unless block.settings.pretext_3 == blank and block.settings.title_3 == blank and block.settings.subtitle_3 == blank and block.settings.button1_3 == blank and block.settings.button2_3 == blank %}
          <div class="caption position-{{block.settings.text_position_3}} js-caption">
              <div class="caption-content
                          caption-background-{{block.settings.caption_background_3}}
                          caption-transparency-{{ block.settings.caption_background_transparency_3}}
                          align-{{block.settings.text_align_3}}">
                {% if block.settings.pretext_3 != blank %}
                  <div class="pretext">
                    {{ block.settings.pretext_3 }}
                  </div>
                {% endif %}
                {% if block.settings.title_3 != blank %}
                  <h1 class="headline">
                    {{ block.settings.title_3 }}
                  </h1>
                {% endif %}
                {% if block.settings.subtitle_3 != blank %}
                  <div class="subtitle">
                    {{ block.settings.subtitle_3 }}
                  </div>
                {% endif %}
                {% if block.settings.button1_3 != blank %}
                  <a {% if block.settings.button1_link_3 != blank %}href="{{ block.settings.button1_link_3 }}"{% endif %} class="action_button first_button highlight-{{block.settings.button1_highlight_3}}">
                    {{ block.settings.button1_3 }}
                  </a>
                {% endif %}
                {% if block.settings.button2_3 != blank %}
                  <a {% if block.settings.button2_link_3 != blank %}href="{{ block.settings.button2_link_3 }}"{% endif %} class="action_button second_button highlight-{{block.settings.button2_highlight_3}}">
                    {{ block.settings.button2_3 }}
                  </a>
                {% endif %}
              </div>
            </div>
        {% endunless %}
      </div>
  {% endif %}

</section>