{% if product_meta.box_one_img_url and product_meta.box_two_img_url and product_meta.box_three_img_url %}
<div class="container no-max pdp-square-blocks clearfix">
	<div class="one-third column">
		<img src="{{ product_meta.box_one_img_url }}" class="lazyload {{ settings.image_loading_style }}" alt="{{ product.title }}">
	</div>
	<div class="one-third column">
		<img src="{{ product_meta.box_two_img_url }}" class="lazyload {{ settings.image_loading_style }}" alt="{{ product.title }}">
	</div>
	<div class="one-third column">
		<img src="{{ product_meta.box_three_img_url }}" class="lazyload {{ settings.image_loading_style }}" alt="{{ product.title }}">
	</div>
</div>
{% endif %}