{% assign col = base_sku %}

{% if col %}

  {% assign products = collections[col].products %}
  {% unless sidebar %} <div class="container"> {% endunless %}
    <div class="related-products__title {% unless section.settings.related_products_style == 'slider' %}{% if sidebar %}twelve columns{% else %}sixteen columns{% endif %}{% endunless %}">
      <h4 class="title center">{{ 'products.product.related_items' | t }}</h4>
      <div class="feature_divider"></div>
    </div>
    <div class="clear"></div>
  {% unless sidebar %} </div> {% endunless %}

  {% if section.settings.related_products_style == 'slider' %}
    {% assign limit = section.settings.related_products_limit %}
    <div class="related-products related-products--slider js-related-products-slider">
      {% if col and collections[col].all_products_count > 0 %}
        {% include 'product-slider-pdp', related_products: true %}
      {% endif %}
    </div>
  {% else %}
    {% assign limit = section.settings.related_products_limit | plus: 1 %}
    {% assign products_per_row = section.settings.products_per %}
    {% if col and collections[col].all_products_count > 0 %}
      {% unless sidebar %}<div class="container related-products--grid">{% endunless %}
        <div class="{% if sidebar %}twelve{% else %}sixteen{% endif %} columns">
          {% include 'product-loop', related_products: true %}
        </div>
      {% unless sidebar %}</div>{% endunless %}
    {% endif %}
  {% endif %}

{% endif %}