{% assign combine_pretext = false %}

{% assign description = tabbed-description | default: product.description %}
{% if description contains "<h6>" %}
	{% assign tab_heads = '' %}
	{% assign tab_texts = '' %}
	{% assign pretext = description | split: '<h6>' %}
	{% assign pre_tab_text = pretext[0] %}

	{% assign description_formatted = description | append: '<h6>REVIEWS</h6>' %}

	{% assign chunks = description_formatted | strip | split: "<h6>" %}
	{% for c in chunks %}
		{% if c contains "</h6>" %}
			{% assign chunk = c | split: "</h6>" %}
			{% assign tab_heads = tab_heads | append: ",," | append: chunk.first %}
			{% assign tab_texts = tab_texts | append: ",," %}
			{% assign tab_texts = tab_texts | prepend: iframe_url %}
			{% assign tab_texts = tab_texts | append: chunk.last %}
		{% endif %}
	{% endfor %}

	{% assign tab_heads = tab_heads | remove_first: ",," | split: ",," %}
	{% assign tab_texts = tab_texts | remove_first: ",," | split: ",," %}

	{% assign index =  1  %}
	<div class="product-description-wrap">
		<div class="main-description pre-text">
      		{% if pre_tab_text != blank %}
      			{{ pre_tab_text }}
      		{% endif %}
		</div>

		<ul class="tab-headings clearfix">
		  	{% for head in tab_heads %}
		  		{% if head == 'DECORATION' or head == 'REVIEWS' %}
		  			<li style="display: none !important;"><a href="#tab-{{- index -}}">{{ head }}</a></li>		  		
		  		{% else %}
		  			<li><a href="#tab-{{- index -}}">{{ head }}</a></li>
		  		{% endif %}
			 	{% assign index =  index | plus: 1  %}
		  	{% endfor %}
		</ul>
		{% assign index =  1  %}

		{% for text in tab_texts %}
			<div id="tab-{{- index -}}" class="tab-content hidden" {% if index == 2 or index == 4 %}style="display:none !important"{% endif %}>
				{% if index != 2 and index != 4 %}
		  			{{ text }}
		 		{% endif %}
		 		{% assign index =  index | plus: 1  %}
		 	</div>
		{% endfor %}

  	</div>
	
	<script>
	   document.addEventListener( 'DOMContentLoaded', function () {
	       $(document).ready(function() {
		    $('ul.tab-headings').each(function(){
		      var active, content, links = $(this).find('a');
		      // active = links.first().addClass('active');
		      // content = $(active.attr('href'));
		      links.each(function () {
		      	$(this).removeClass('hidden');
		        $($(this).attr('href')).hide();
		      });
		      $(this).find('a').click(function(e){
		      	if(active) {
		        	active.removeClass('active');
		        }
		        if(content){
		        	content.hide();
		        }
		        active = $(this);
		        content = $($(this).attr('href'));
		        active.addClass('active');
		        content.show();
		        return false;
		      });
		    });
		  });
	   }, false );
	</script>

{% else %}
	{{ description }}
{% endif %}