{% assign combine_pretext = false %}

{% assign description = tabbed-description | default: product.description %}
{% if description contains "<h6>" %}
	{% assign tab_heads = '' %}
	{% assign tab_texts = '' %}
	{% assign pretext = description | split: '<h6>' %}
	{% assign pre_tab_text = pretext[0] %}

	{% assign description_formatted = description | prepend: '<h6>ORDERING</h6>' | append: '<h6>EMBROIDERY CALCULATOR</h6>' | append: '<h6>REVIEWS</h6>' %}

	{% assign chunks = description_formatted | strip | split: "<h6>" %}
	{% for c in chunks %}
		{% if c contains "</h6>" %}
			{% assign chunk = c | split: "</h6>" %}
			{% assign tab_heads = tab_heads | append: ",," | append: chunk.first %}
			{% assign tab_texts = tab_texts | append: ",," %}
			{% assign tab_texts = tab_texts | prepend: iframe_url %}
			{% assign tab_texts = tab_texts | append: chunk.last %}
		{% endif %}
	{% endfor %}

	{% assign tab_heads = tab_heads | remove_first: ",," | split: ",," %}
	{% assign tab_texts = tab_texts | remove_first: ",," | split: ",," %}

	{% assign index =  1  %}
	<div class="product-description-wrap">
		<div class="main-description">
      		{% if pre_tab_text != blank %}
      			{{ pre_tab_text }}
      		{% endif %}
		    <div class="btn-holder clearfix">
		      	<div class="text-align--right">
			      	{% if product_meta.tech_sheet %}
			      		<a href="{{ product_meta.tech_sheet }}" class="action_button dark-button">Tech Sheet</a>
			      	{% endif %}
			      	{% if product_meta.flyer_builder %}
			      		<a href="{{ product_meta.flyer_builder }}" class="action_button dark-button">Flyer Builder</a>
			      	{% endif %}
			      	{% if product_meta.gender_equivalent %}
			      		{% assign gender = product_meta.gender_equivalent | split: '|' %}
			      		<a href="{{ gender[1] }}" class="action_button dark-button">{{ gender[0] | capitalize }}</a>
			      	{% endif %}
			      	{% if product_meta.view_catalog_link %}
			      		<a href="{{ product_meta.view_catalog_link }}" class="action_button dark-button">View Catalog Link</a>
			      	{% endif %}
			      	{% if product_meta.download_images_link %}
			      		<a href="{{ product_meta.download_images_link }}" class="action_button dark-button">Download Images</a>
			      	{% endif %}
		      	</div>
		    </div>
		</div>

		<ul class="tab-headings clearfix {% if section.settings.hide_decoration_embroidery_eu %}hide-eu{% endif %}">
		  	{% for head in tab_heads %}
		  		<li><a href="#tab-{{- index -}}">{{ head }}</a></li>
			 	{% assign index =  index | plus: 1  %}
		  	{% endfor %}
		</ul>
		{% assign index =  1  %}

		{% for text in tab_texts %}
			<div id="tab-{{- index -}}" class="tab-content">
				{% if index == 1 %}
					<iframe id="inventory" src="https://app.stormtech.ca/eWeb/eb2b/inventory.aspx?p={{ parent_sku }}" width="100%" style="height:350px;" frameborder="0" scrolling="none" seamless="seamless"></iframe>
					<a href="/pages/order-now-distributor-login" class="action_button dark-button right">Distributor Checkout & Order Review</a>
				{% elsif index == 5 %}
					<iframe src="https://app.stormtech.ca/eweb/embCharges.aspx" style="height:500px; width:350px;"></iframe>
				{% elsif index == 6 %}
			      {% comment %}begin bazaarvoice{% endcomment %}
			      <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
			      <div data-bv-show="rating_summary" data-bv-productId="{{ parent_sku }}"></div>   
			      <div data-bv-show="reviews" data-bv-productId="{{ parent_sku }}"></div>
			      <div data-bv-show="questions" data-bv-productId="{{ parent_sku }}"></div>
			      {% comment %}end bazaarvoice{% endcomment %}
				{% else %}
		  			{{ text }}
		 		{% endif %}
		 		{% assign index =  index | plus: 1  %}
		 	</div>
		{% endfor %}

  	</div>
	
<script>

	var initTabs = function () {
		
	    $('ul.tab-headings').each(function () {
	      var active, content, links = $(this).find('a');
	      active = links.first().addClass('active');
	      content = $(active.attr('href'));
	      links.not(':first').each(function () {
	        $($(this).attr('href')).hide();
	      });

	      $(this).find('a').click(function(e){
	        active.removeClass('active');
	        content.hide();
	        active = $(this);
	        content = $($(this).attr('href'));
	        active.addClass('active');
	        content.show();
	        return false;
	      });
	    });

	};

	var removeDecorationEmbroideryTabEU = function () {

		if ($('.product-description-wrap .tab-headings').hasClass('hide-eu')) {
		    $('ul.tab-headings li').each(function () {
		    	var $this = $(this);
			    var tabName = $this.find('a').text().toLowerCase();
			    if (tabName == 'decoration' || tabName == 'embroidery calculator') {
			      	var tabContent = $this.find('a').attr('href');
			      	$this.remove();
			      	$(tabContent).remove();
			    }
		    });
		}

		initTabs();
	};

    document.addEventListener( 'DOMContentLoaded', function () {

    	$(document).ready(function() {

			removeDecorationEmbroideryTabEU();

		});

   	}, false );

</script>

{% else %}
	{{ description }}
{% endif %}