{% include 'page-template-blocks' %}

{% schema %}
  {
    "name": "Page.sections page",
    "settings": [
      {
        "type": "paragraph",
        "content": "This is the page template with sections. To use this template on another page, please follow the [instructions](https://cdn.shopify.com/s/files/1/0005/9529/6308/files/index.html?7239793559238939175) provided by Pixafy."
      },
      {
        "type": "checkbox",
        "id": "page_title_enable",
        "label": "Show page title"
      },
      {
        "type": "checkbox",
        "id": "page_content_enable",
        "label": "Show page content"
      }
    ],

    "blocks": [

      {
        "type": "slideshow",
        "name": "Slideshow",
        "settings": [
          {
            "type": "select",
            "id": "slideshow_text_animation",
            "label": "Text animation",
            "options": [
              {
                "value": "",
                "label": "None"
              },
              {
                "value": "fadeIn",
                "label": "Fade In"
              },
              {
                "value": "fadeInUp",
                "label": "Fade Up"
              },
              {
                "value": "fadeInDown",
                "label": "Fade Down"
              }
            ],
            "default": "fadeInDown"
          },
          {
            "type": "select",
            "id": "slideshow_animation",
            "label": "Gallery transition",
            "options": [
              {
                "value": "slide",
                "label": "Slide"
              },
              {
                "value": "fade",
                "label": "Fade"
              }
            ],
            "default": "slide"
          },
          {
            "type": "range",
            "id": "slideshow_speed",
            "label": "Change slides every",
            "min": 4,
            "max": 12,
            "step": 1,
            "default": 6,
            "unit": "sec"
          },


          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1",
            "info": "1600 x 1000px recommended"
          },
          {
            "type": "richtext",
            "id": "pretext_1",
            "label": "Preheading"
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "Heading",
            "default": "Your headline"
          },
          {
            "type": "richtext",
            "id": "subtitle_1",
            "label": "Subheading"
          },
          {
            "type": "select",
            "id": "text_position_1",
            "label": "Text position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "text_align_1",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "checkbox",
            "id": "caption_background_1",
            "label": "Display text background"
          },
          {
            "type": "checkbox",
            "id": "caption_background_transparency_1",
            "label": "Enable text background transparency"
          },
          {
            "type": "text",
            "id": "button1_1",
            "label": "First button label"
          },
          {
            "type": "url",
            "id": "button1_link_1",
            "label": "First slide link"
          },
          {
            "type": "checkbox",
            "id": "button1_highlight_1",
            "label": "Highlight first button"
          },
          {
            "type": "text",
            "id": "button2_1",
            "label": "Second button label"
          },
          {
            "type": "url",
            "id": "button2_link_1",
            "label": "Second slide link"
          },
          {
            "type": "checkbox",
            "id": "button2_highlight_1",
            "label": "Highlight second button"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2",
            "info": "1600 x 1000px recommended"
          },
          {
            "type": "richtext",
            "id": "pretext_2",
            "label": "Preheading"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Heading",
            "default": "Your headline"
          },
          {
            "type": "richtext",
            "id": "subtitle_2",
            "label": "Subheading"
          },
          {
            "type": "select",
            "id": "text_position_2",
            "label": "Text position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "text_align_2",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "checkbox",
            "id": "caption_background_2",
            "label": "Display text background"
          },
          {
            "type": "checkbox",
            "id": "caption_background_transparency_2",
            "label": "Enable text background transparency"
          },
          {
            "type": "text",
            "id": "button1_2",
            "label": "First button label"
          },
          {
            "type": "url",
            "id": "button1_link_2",
            "label": "First slide link"
          },
          {
            "type": "checkbox",
            "id": "button1_highlight_2",
            "label": "Highlight first button"
          },
          {
            "type": "text",
            "id": "button2_2",
            "label": "Second button label"
          },
          {
            "type": "url",
            "id": "button2_link_2",
            "label": "Second slide link"
          },
          {
            "type": "checkbox",
            "id": "button2_highlight_2",
            "label": "Highlight second button"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3",
            "info": "1600 x 1000px recommended"
          },
          {
            "type": "richtext",
            "id": "pretext_3",
            "label": "Preheading"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "Heading",
            "default": "Your headline"
          },
          {
            "type": "richtext",
            "id": "subtitle_3",
            "label": "Subheading"
          },
          {
            "type": "select",
            "id": "text_position_3",
            "label": "Text position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "text_align_3",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "checkbox",
            "id": "caption_background_3",
            "label": "Display text background"
          },
          {
            "type": "checkbox",
            "id": "caption_background_transparency_3",
            "label": "Enable text background transparency"
          },
          {
            "type": "text",
            "id": "button1_3",
            "label": "First button label"
          },
          {
            "type": "url",
            "id": "button1_link_3",
            "label": "First slide link"
          },
          {
            "type": "checkbox",
            "id": "button1_highlight_3",
            "label": "Highlight first button"
          },
          {
            "type": "text",
            "id": "button2_3",
            "label": "Second button label"
          },
          {
            "type": "url",
            "id": "button2_link_3",
            "label": "Second slide link"
          },
          {
            "type": "checkbox",
            "id": "button2_highlight_3",
            "label": "Highlight second button"
          }
        ]
      },


      {
        "type": "featured-collection",
        "name": "Featured collection",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Featured collection"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "radio",
            "id": "collection_style",
            "label": "Collection layout",
            "default": "grid",
            "options": [
              {
                "value": "slider",
                "label": "Slider"
              },
              {
                "value": "grid",
                "label": "Grid"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "collection_description",
            "label": "Show description",
            "default": true
          },
          {
            "type": "range",
            "id": "products_per",
            "label": "Products per row",
            "min": 2,
            "max": 7,
            "step": 1,
            "default": 3
          },
          {
            "type": "range",
            "id": "products_limit",
            "label": "Limit products",
            "min": 2,
            "max": 50,
            "step": 1,
            "default": 48
          }
        ]
      },

      {
        "type": "image-text",
        "name": "Image with text",
        "settings": [
          {
            "type": "select",
            "id": "featured_links_per_row",
            "label": "Images per row",
            "options": [
              {
                "value": "1",
                "label": "1"
              },
              {
                "value": "2",
                "label": "2"
              }
            ]
          },
          {
            "type": "select",
            "id": "frontpage_text_align",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "frontpage_image_position",
            "label": "First image position",
            "info": "Subsequent images will appear staggered",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "frontpage_grid_style",
            "label": "Wide display"
          },
          {
            "type": "image_picker",
            "id": "image_text_image_1",
            "label": "Image 1"
          },
          {
            "type": "text",
            "id": "image_text_title_1",
            "label": "Heading",
            "default": "Your headline"
          },
          {
            "type": "richtext",
            "id": "image_text_text_1",
            "label": "Text",
            "default": "<p>Promotion description appears here.</p>"
          },
          {
            "type": "text",
            "id": "image_text_button_label_1",
            "label": "Button label",
            "default": "View all"
          },
          {
            "type": "url",
            "id": "image_text_link_1",
            "label": "Button link"
          },

          {
            "type": "image_picker",
            "id": "image_text_image_2",
            "label": "Image 2"
          },
          {
            "type": "text",
            "id": "image_text_title_2",
            "label": "Heading",
            "default": "Your headline"
          },
          {
            "type": "richtext",
            "id": "image_text_text_2",
            "label": "Text",
            "default": "<p>Promotion description appears here.</p>"
          },
          {
            "type": "text",
            "id": "image_text_button_label_2",
            "label": "Button label",
            "default": "View all"
          },
          {
            "type": "url",
            "id": "image_text_link_2",
            "label": "Button link"
          },

          {
            "type": "image_picker",
            "id": "image_text_image_3",
            "label": "Image 3"
          },
          {
            "type": "text",
            "id": "image_text_title_3",
            "label": "Heading 3",
            "default": "Your headline"
          },
          {
            "type": "richtext",
            "id": "image_text_text_3",
            "label": "Text 3",
            "default": "<p>Promotion description appears here.</p>"
          },
          {
            "type": "text",
            "id": "image_text_button_label_3",
            "label": "Button label 3",
            "default": "View all"
          },
          {
            "type": "url",
            "id": "image_text_link_3",
            "label": "Button link 3"
          },

          {
            "type": "image_picker",
            "id": "image_text_image_4",
            "label": "Image 4"
          },
          {
            "type": "text",
            "id": "image_text_title_4",
            "label": "Heading 4",
            "default": "Your headline"
          },
          {
            "type": "richtext",
            "id": "image_text_text_4",
            "label": "Text 4",
            "default": "<p>Promotion description appears here.</p>"
          },
          {
            "type": "text",
            "id": "image_text_button_label_4",
            "label": "Button label 4",
            "default": "View all"
          },
          {
            "type": "url",
            "id": "image_text_link_4",
            "label": "Button link 4"
          }
        ]
      },

      {
        "type": "image-text-overlay",
        "name": "Image with text overlay",
        "settings": [
          {
            "type": "image_picker",
            "id": "text_overlay_image",
            "label": "Image",
            "info": "1800 x 1000px recommended"
          },
          {
            "type": "richtext",
            "id": "text_overlay_pretext",
            "label": "Preheading"
          },
          {
            "type": "text",
            "id": "text_overlay_title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "text_overlay_subtitle",
            "label": "Text"
          },
          {
            "type": "checkbox",
            "id": "text_overlay_caption_background",
            "label": "Display solid text background",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "text_overlay_caption_background_transparency",
            "label": "Enable background transparency"
          },
          {
            "type": "select",
            "id": "text_overlay_text_position",
            "label": "Text position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_overlay_text_align",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "text_overlay_button1",
            "label": "First button label"
          },
          {
            "type": "url",
            "id": "text_overlay_button1_link",
            "label": "First button link"
          },
          {
            "type": "checkbox",
            "id": "text_overlay_button1_highlight",
            "label": "Highlight first button"
          },
          {
            "type": "text",
            "id": "text_overlay_button2",
            "label": "Second button label"
          },
          {
            "type": "url",
            "id": "text_overlay_button2_link",
            "label": "Second button link"
          },
          {
            "type": "checkbox",
            "id": "text_overlay_button2_highlight",
            "label": "Highlight second button"
          }
        ]
      },

      {
        "type": "featured-promotions",
        "name": "Featured promotions",
        "settings": [
          {
            "type": "range",
            "id": "featured_promos_per_row",
            "label": "Promotions per row",
            "min": 0,
            "max": 4,
            "step": 2,
            "default": 4
          },
          {
            "type": "checkbox",
            "id": "featured_promos_grid",
            "label": "Wide display",
            "default": true
          },
          {
            "type": "select",
            "id": "featured_links_animation",
            "label": "Promotions animation",
            "options": [
              {
                "value": "",
                "label": "None"
              },
              {
                "value": "fadeIn",
                "label": "Fade In"
              },
              {
                "value": "fadeInUp",
                "label": "Fade Up"
              },
              {
                "value": "fadeInDown",
                "label": "Fade Down"
              }
            ],
            "default": "fadeInDown"
          },
          {
            "type": "select",
            "id": "feature_style",
            "label": "Promotions style",
            "options": [
              {
                "value": "circle",
                "label": "Circle"
              },
              {
                "value": "square",
                "label": "Square"
              },
              {
                "value": "rounded",
                "label": "Rounded"
              }
            ],
            "default": "square"
          },
          {
            "type": "checkbox",
            "id": "promo_text_on_image_enabled",
            "label": "Show title on image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "feat_promo_image_1",
            "label": "Image 1",
            "info": "840 x 840px recommended"
          },
          {
            "type": "url",
            "id": "feat_promo_link_1",
            "label": "Link 1"
          },
          {
            "type": "text",
            "id": "feat_promo_title_1",
            "label": "Header",
            "default": "Feature 1"
          },
          {
            "type": "richtext",
            "id": "feat_promo_text_1",
            "label": "Text 1",
            "default": "<p>Promotion description details.</p>"
          },
          {
            "type": "text",
            "id": "feat_promo_button_label_1",
            "label": "Button label 1"
          },
          {
            "type": "image_picker",
            "id": "feat_promo_image_2",
            "label": "Image 2",
            "info": "840 x 840px recommended"
          },
          {
            "type": "url",
            "id": "feat_promo_link_2",
            "label": "Link 2"
          },
          {
            "type": "text",
            "id": "feat_promo_title_2",
            "label": "Header 2",
            "default": "Feature"
          },
          {
            "type": "richtext",
            "id": "feat_promo_text_2",
            "label": "Text 2",
            "default": "<p>Promotion description details.</p>"
          },
          {
            "type": "text",
            "id": "feat_promo_button_label_2",
            "label": "Button label 2"
          },
          {
            "type": "image_picker",
            "id": "feat_promo_image_3",
            "label": "Image 3",
            "info": "840 x 840px recommended"
          },
          {
            "type": "url",
            "id": "feat_promo_link_3",
            "label": "Link 3"
          },
          {
            "type": "text",
            "id": "feat_promo_title_3",
            "label": "Header 3",
            "default": "Feature"
          },
          {
            "type": "richtext",
            "id": "feat_promo_text_3",
            "label": "Text 3",
            "default": "<p>Promotion description details.</p>"
          },
          {
            "type": "text",
            "id": "feat_promo_button_label_3",
            "label": "Button label 3"
          },
          {
            "type": "image_picker",
            "id": "feat_promo_image_4",
            "label": "Image 4",
            "info": "840 x 840px recommended"
          },
          {
            "type": "url",
            "id": "feat_promo_link_4",
            "label": "Link 4"
          },
          {
            "type": "text",
            "id": "feat_promo_title_4",
            "label": "Header 4",
            "default": "Feature"
          },
          {
            "type": "richtext",
            "id": "feat_promo_text_4",
            "label": "Text 4",
            "default": "<p>Promotion description details.</p>"
          },
          {
            "type": "text",
            "id": "feat_promo_button_label_4",
            "label": "Button label 4"
          }
        ]
      },

      {
        "type": "headline-text",
        "name": "Rich text and image",
        "settings": [
          {
            "type": "image_picker",
            "id": "headline-text-image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "headline-text-title",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "richtext",
            "id": "headline-text-content",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "select",
            "id": "headline-text-text_size",
            "label": "Text size",
            "options": [
              {
                "value": "regular_text",
                "label": "Regular"
              },
              {
                "value": "featured_text",
                "label": "Large"
              }
            ],
            "default": "featured_text"
          },
          {
            "type": "select",
            "id": "headline-text-text_alignment",
            "label": "Text alignment",
            "options": [
              {
                "value": "align_left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              }
            ],
            "default": "center"
          },
          {
            "type": "text",
            "id": "headline-text-button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "headline-text-button_link",
            "label": "Button link"
          }
        ]
      },

      {
        "type": "gallery",
        "name": "Gallery",
        "settings": [
          {
            "type": "text",
            "id": "gallery_text_title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "checkbox",
            "id": "gallery_enable_lightbox",
            "label": "Enable lightbox",
            "default": true
          },
          {
            "type": "select",
            "id": "gallery_type",
            "label": "Gallery style",
            "options": [
              {
                "value": "horizontal",
                "label": "Horizontal masonry"
              },
              {
                "value": "masonry",
                "label": "Vertical masonry"
              },
              {
                "value": "classic",
                "label": "Classic"
              }
            ],
            "default": "classic"
          },
          {
            "type": "checkbox",
            "id": "gallery_full_width",
            "label": "Wide display"
          },
          {
            "type": "checkbox",
            "id": "gallery_show_divider",
            "label": "Show divider"
          },
          {
            "type": "image_picker",
            "id": "gallery_image_1",
            "label": "Image 1",
            "info": "800 x 800px recommended"
          },
          {
            "type": "image_picker",
            "id": "gallery_image_2",
            "label": "Image 2",
            "info": "800 x 800px recommended"
          },
          {
            "type": "image_picker",
            "id": "gallery_image_3",
            "label": "Image 3",
            "info": "800 x 800px recommended"
          },
          {
            "type": "image_picker",
            "id": "gallery_image_4",
            "label": "Image 4",
            "info": "800 x 800px recommended"
          },
          {
            "type": "image_picker",
            "id": "gallery_image_5",
            "label": "Image 5",
            "info": "800 x 800px recommended"
          },
          {
            "type": "image_picker",
            "id": "gallery_image_6",
            "label": "Image 6",
            "info": "800 x 800px recommended"
          },
          {
            "type": "image_picker",
            "id": "gallery_image_7",
            "label": "Image 7",
            "info": "800 x 800px recommended"
          },
          {
            "type": "image_picker",
            "id": "gallery_image_8",
            "label": "Image 8",
            "info": "800 x 800px recommended"
          }
        ]
      },

      {
        "type": "social-feeds",
        "name": "Social feeds",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_twitter",
            "label": "Enable Twitter",
            "default": true
          },
          {
            "type": "text",
            "id": "twitter_username",
            "label": "Twitter username"
          },
          {
            "type": "text",
            "id": "twitter_title",
            "label": "Heading",
            "default": "Tweets"
          },
          {
            "type": "radio",
            "id": "twitter_theme",
            "label": "Twitter feed theme",
            "default": "light",
            "options": [
              {
                "value": "light",
                "label": "Light"
              },
              {
                "value": "dark",
                "label": "Dark"
              }
            ]
          },
          {
            "type": "range",
            "id": "tweet_count",
            "label": "Number of tweets",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 2
          },
          {
            "type": "checkbox",
            "id": "enable_instagram",
            "label": "Enable Instagram",
            "default": true
          },
          {
            "type": "text",
            "id": "instagram_client_id",
            "label": "Instagram Access Token ([?](https:\/\/outofthesandbox.com\/pages\/instagram-access-token))",
            "default": "1708025753.d90570a.b5b1b1ca149b4a18a770d8e419c445a1"
          },
          {
            "type": "text",
            "id": "instagram_title",
            "label": "Heading",
            "default": "Instagram"
          },
          {
            "type": "range",
            "id": "instagram_count",
            "label": "Number of images",
            "min": 2,
            "max": 12,
            "step": 2,
            "default": 6
          }
        ]
      },
      {
        "type": "featured-blog",
        "name": "Blog posts",
        "settings": [
          {
            "type": "text",
            "id": "featured_blog_title",
            "label": "Heading",
            "default": "Blog posts"
          },
          {
            "type": "blog",
            "id": "featured_blog_widget_select",
            "label": "Blog"
          },
          {
            "type": "range",
            "id": "featured_blog_home_page_articles",
            "label": "Posts",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
          },
          {
            "type": "checkbox",
            "id": "featured_blog_tags",
            "label": "Show blog post tags"
          },
          {
            "type": "checkbox",
            "id": "featured_blog_author",
            "label": "Show author"
          },
          {
            "type": "checkbox",
            "id": "featured_blog_date",
            "label": "Show date",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "featured_blog_comment_count",
            "label": "Show comment count",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "featured_blog_read_more_link",
            "label": "Show continue reading link for blog post excerpts",
            "default": true
          }
        ]
      },


      {
        "type": "testimonials",
        "name": "Testimonials",
        "settings": [
          {
            "type": "select",
            "id": "testimonial_text_animation",
            "label": "Text animation",
            "options": [
              {
                "value": "",
                "label": "None"
              },
              {
                "value": "fadeIn",
                "label": "Fade In"
              },
              {
                "value": "fadeInUp",
                "label": "Fade Up"
              },
              {
                "value": "fadeInDown",
                "label": "Fade Down"
              }
            ],
            "default": "fadeInDown"
          },
          {
            "type": "range",
            "id": "testimonial_speed",
            "label": "Change testimonials every",
            "min": 4,
            "max": 12,
            "step": 1,
            "default": 6,
            "unit": "sec"        
          },
          {
            "type": "image_picker",
            "id": "testimonial_image_1",
            "label": "Image 1",
            "info": "1600 x 1000px recommended"
          },
          {
            "type": "checkbox",
            "id": "testimonial_enable_image_1",
            "label": "Use image",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "testimonial_darken_bg_1",
            "label": "Darken background image"
          },
          {
            "type": "text",
            "id": "testimonial_title_1",
            "label": "Testimonial title",
            "default": "Customer Testimonial"
          },
          {
            "type": "richtext",
            "id": "testimonial_1",
            "label": "Testimonial",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quam enim, fringilla ut purus ut, pretium ullamcorper sem. In sit amet vestibulum tellus. Aenean gravida dolor eget mi bibendum semper. </p>"
          },
          {
            "type": "text",
            "id": "testimonial_name_1",
            "label": "Customer name"
          },
          {
            "type": "text",
            "id": "testimonial_store_name_1",
            "label": "Store name"
          },
          {
            "type": "checkbox",
            "id": "testimonial_make_link_white_btn_1",
            "label": "Make Store link a white button?",
            "default": true
          },
          {
            "type": "url",
            "id": "testimonial_link_1",
            "label": "Store link"
          },
          {
            "type": "select",
            "id": "testimonial_text_position_1",
            "label": "Text position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "testimonial_text_align_1",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "image_picker",
            "id": "testimonial_image_2",
            "label": "Image 2",
            "info": "1600 x 1000px recommended"
          },
          {
            "type": "checkbox",
            "id": "testimonial_enable_image_2",
            "label": "Use image",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "testimonial_darken_bg_2",
            "label": "Darken background image"
          },
          {
            "type": "text",
            "id": "testimonial_title_2",
            "label": "Testimonial title",
            "default": "Customer Testimonial"
          },
          {
            "type": "richtext",
            "id": "testimonial_2",
            "label": "Testimonial",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quam enim, fringilla ut purus ut, pretium ullamcorper sem. In sit amet vestibulum tellus. Aenean gravida dolor eget mi bibendum semper. </p>"
          },
          {
            "type": "text",
            "id": "testimonial_name_2",
            "label": "Customer name"
          },
          {
            "type": "text",
            "id": "testimonial_store_name_2",
            "label": "Store name"
          },
          {
            "type": "checkbox",
            "id": "testimonial_make_link_white_btn_2",
            "label": "Make Store link a white button?",
            "default": true
          },
          {
            "type": "url",
            "id": "testimonial_link_2",
            "label": "Store link"
          },
          {
            "type": "select",
            "id": "testimonial_text_position_2",
            "label": "Text position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "testimonial_text_align_2",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "image_picker",
            "id": "testimonial_image_3",
            "label": "Image 3",
            "info": "1600 x 1000px recommended"
          },
          {
            "type": "checkbox",
            "id": "testimonial_enable_image_3",
            "label": "Use image",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "testimonial_darken_bg_3",
            "label": "Darken background image"
          },
          {
            "type": "text",
            "id": "testimonial_title_3",
            "label": "Testimonial title",
            "default": "Customer Testimonial"
          },
          {
            "type": "richtext",
            "id": "testimonial_3",
            "label": "Testimonial",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quam enim, fringilla ut purus ut, pretium ullamcorper sem. In sit amet vestibulum tellus. Aenean gravida dolor eget mi bibendum semper. </p>"
          },
          {
            "type": "text",
            "id": "testimonial_name_3",
            "label": "Customer name"
          },
          {
            "type": "text",
            "id": "testimonial_store_name_3",
            "label": "Store name"
          },
          {
            "type": "checkbox",
            "id": "testimonial_make_link_white_btn_3",
            "label": "Make Store link a white button?",
            "default": true
          },
          {
            "type": "url",
            "id": "testimonial_link_3",
            "label": "Store link"
          },
          {
            "type": "select",
            "id": "testimonial_text_position_3",
            "label": "Text position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "testimonial_text_align_3",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          }
        ]  
      },

      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "select",
            "id": "vid_aspect_ratio",
            "label": "Aspect ratio",
            "options": [
              {
                "value": "16:9",
                "label": "16:9"
              },
              {
                "value": "4:3",
                "label": "4:3"
              }
            ],
            "default": "16:9"
          },
          {
            "type": "checkbox",
            "id": "vid_autoplay",
            "label": "Autoplay video",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "vid_autoloop",
            "label": "Autoloop video",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "vid_video_dark_overlay",
            "label": "Darken video"
          },
          {
            "type": "video_url",
            "id": "vid_video",
            "label": "Video link",
            "accept": ["youtube", "vimeo"],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
          },
          {
            "type": "text",
            "id": "vid_mp4",
            "label": "HTML5 MP4 File URL"
          },
          {
            "type": "text",
            "id": "vid_ogv",
            "label": "HTML5 OGV File URL (optional)"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "vid_image",
            "label": "Image",
            "info": "1600 x 900px recommended"
          },
          {
            "type": "checkbox",
            "id": "vid_display_text_over_video",
            "label": "Show text when video is playing",
            "default": false
          },
          {
            "type": "richtext",
            "id": "vid_pretext",
            "label": "Preheading"
          },
          {
            "type": "text",
            "id": "vid_title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "vid_subtitle",
            "label": "Subheading"
          },
          {
            "type": "select",
            "id": "vid_text_position",
            "label": "Text position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "vid_text_align",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "checkbox",
            "id": "vid_caption_background",
            "label": "Display solid text background"
          },
          {
            "type": "checkbox",
            "id": "vid_caption_background_transparency",
            "label": "Enable background transparency"
          },
          {
            "type": "text",
            "id": "vid_button1_label",
            "label": "First button label"
          },
          {
            "type": "url",
            "id": "vid_button1_link",
            "label": "First button link"
          },
          {
            "type": "checkbox",
            "id": "vid_button1_highlight",
            "label": "Highlight first button"
          },
          {
            "type": "text",
            "id": "vid_button2_label",
            "label": "Second button label"
          },
          {
            "type": "url",
            "id": "vid_button2_link",
            "label": "Second button link"
          },
          {
            "type": "checkbox",
            "id": "vid_button2_highlight",
            "label": "Highlight second button"
          }
        ]
      },

      {
        "type": "content-page",
        "name": "Page",
        "settings": [
          {
            "type": "page",
            "id": "page_content_page",
            "label": "Content page"
          }
        ]
      },

      {
        "type": "text-columns-with-images",
        "name": "Text Columns with Images",
        "settings": [
          {
            "type": "text",
            "id": "columns_title_main",
            "label": "Heading",
            "default": "Text columns with images"
          },
          {
            "type": "select",
            "id": "columns_heading_size",
            "label": "Heading size",
            "options": [
              {
                "value": "regular_text",
                "label": "Regular"
              },
              {
                "value": "large_text",
                "label": "Large"
              }
            ],
            "default": "regular_text"
          },
          {
            "type": "select",
            "id": "columns_align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },

          {
            "type": "image_picker",
            "id": "columns_image_1",
            "label": "Image 1"
          },
          {
            "type": "text",
            "id": "columns_title_1",
            "label": "Heading 1",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "columns_text_1",
            "label": "Text 1",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          },
          {
            "type": "text",
            "id": "columns_button_label_1",
            "label": "Button label 1"
          },
          {
            "type": "url",
            "id": "columns_button_link_1",
            "label": "Button link 1"
          },

          {
            "type": "image_picker",
            "id": "columns_image_2",
            "label": "Image 2"
          },
          {
            "type": "text",
            "id": "columns_title_2",
            "label": "Heading 2",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "columns_text_2",
            "label": "Text 2",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          },
          {
            "type": "text",
            "id": "columns_button_label_2",
            "label": "Button label 2"
          },
          {
            "type": "url",
            "id": "columns_button_link_2",
            "label": "Button link 2"
          },

          {
            "type": "image_picker",
            "id": "columns_image_3",
            "label": "Image 3"
          },
          {
            "type": "text",
            "id": "columns_title_3",
            "label": "Heading 3",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "columns_text_3",
            "label": "Text 3",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          },
          {
            "type": "text",
            "id": "columns_button_label_3",
            "label": "Button label 3"
          },
          {
            "type": "url",
            "id": "columns_button_link_3",
            "label": "Button link 3"
          },

          {
            "type": "image_picker",
            "id": "columns_image_4",
            "label": "Image 4"
          },
          {
            "type": "text",
            "id": "columns_title_4",
            "label": "Heading 4",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "columns_text_4",
            "label": "Text 4",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          },
          {
            "type": "text",
            "id": "columns_button_label_4",
            "label": "Button label 4"
          },
          {
            "type": "url",
            "id": "columns_button_link_4",
            "label": "Button link 4"
          }

        ]
      }

    ]
  }
{% endschema %}
