{% comment %}
** Product - default view **
- Product template
{% endcomment %}

{% assign product_meta = product.metafields.product %}
{% if product_meta.base_sku %}
  {% assign parent_sku = product_meta.base_sku %}
{% else %}
  {% assign split_title = product.title | split: ' - ' %}
  {% assign parent_sku = split_title[1] %}
{% endif %}

{% if section.settings.product_banner == true and product_meta.top_banner %}
<div class="shopify-section image-with-text-overlay-section under-menu">
  <section class="banner page_banner">
    <img src="{{ product_meta.top_banner }}" class="blur-up lazyloaded" alt="{{ product.title }}">
  </section>
</div>
{% endif %}

<a name="pagecontent" id="pagecontent"></a>

<div class="container main content">
  <div class="sixteen columns">
    {% if collection.previous_product or collection.next_product or section.settings.product_breadcrumb %}
      <div class="clearfix breadcrumb-collection">
        {% if collection.previous_product or collection.next_product %}
          <div class="nav_arrows breadcrumb_text">
            {% if collection.previous_product %}
              <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="breadcrumb_link"><span class="icon-left-arrow"> {{ 'products.general.previous_product_html' | t }}</span></a>
            {% endif %}
            {% if collection.previous_product and collection.next_product %}<span class="breadcrumb-divider"> | </span>{% endif %}

            {% if collection.next_product %}
              <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="breadcrumb_link">{{ 'products.general.next_product_html' | t }} <span class="icon-right-arrow"></span></a>
            {% endif %}
          </div>
        {% endif %}

        {% if section.settings.product_breadcrumb %}
          <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="breadcrumb-divider">/</span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              {% if collection %}
                <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ collection.title }}</span></a>
              {% else %}
                <a href="/collections/all" title="{{ collections.all.title }}" class="breadcrumb_link"><span>{{ collections.all.title }}</span></a>
              {% endif %}
            </span>
            <span class="breadcrumb-divider">/</span>
            {{ product.title }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>

  {% comment %}Check to see if sidebar should be enabled{% endcomment %}
  {% if section.blocks.size > 0 %}
    {% assign sidebar = true %}
  {% else %}
    {% assign sidebar = false %}
  {% endif %}

  <div class="product clearfix">
    {% if sidebar %}
      {% include 'sidebar' %}
      <div class="twelve columns">
    {% else %}
      <div class="sixteen columns">
    {% endif %}

    <div class="product-{{ product.id }}"
         data-free-text="{{ settings.free_price_text }}"
          >
      <div class="section product_section clearfix js-product_section {% if section.settings.product_images_position == 'right' %}align_right--images{% elsif section.settings.product_images_position == 'center' %}align_fullwidth--images{% endif %}" itemscope itemtype="http://schema.org/Product" data-rv-handle="{{ product.handle }}">

        <div class="{% if sidebar %}seven{% elsif section.settings.product_images_position == 'center' %}six offset-by-five{% else %}nine{% endif %} columns {% if section.settings.product_images_position == 'left' %}alpha{% elsif section.settings.product_images_position == 'center' %}centered{% else %}omega{% endif %}">
          {% include 'product-images' %}
        </div>

        <div class="{% if sidebar %}five{% elsif section.settings.product_images_position == 'center' %}sixteen{% else %}seven{% endif %} columns {% if section.settings.product_images_position == 'left' %}omega{% elsif section.settings.product_images_position == 'center' %}centered{% else %}alpha{% endif %}">

          {% assign collection_handles = product.collections | map: 'handle' %}
          {% assign variant = product.selected_or_first_available_variant %}

          {% if product.available %}
            {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
              <div class="sale_banner_product">{{ 'collections.general.sale' | t }}</div>
            {% endif %}
          {% endif %}
          {% if collection_handles contains 'new' %}
            <div class="new_banner_product">{{ 'collections.general.new' | t }}</div>
          {% endif %}
          {% if collection_handles contains 'pre-order' %}
            <div class="preorder_banner_product">{{ 'collections.general.pre_order' | t }}</div>
          {% endif %}

           {% if section.settings.display_vendor %}
            <p class="vendor">
              <span itemprop="brand" class="vendor">{{ product.vendor | link_to_vendor }}</span>
            </p>
          {% endif %}

          {% if variant.sku != blank and section.settings.display_sku %}
            <p class="sku">
              <span itemprop="sku">{{ variant.sku }}</span>
            </p>
          {% endif %}

          {% if product_meta.logo_upload_link %}
            {% assign logo_upload = true %}
          {% endif %}

          {% if settings.checkout_method == 'enable_iframe_checkout' %}
          <div class="large-price centered">
            <h5 itemprop="price" content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                <span class="current_price {% if product.available == false %}hidden{% endif %}">
                  {% if variant.price > 0 %}
                    <span class="money">{{ variant.price | money }}</span>
                  {% else %}
                    {{ settings.free_price_text }}
                  {% endif %}
                </span>
                MSRP
              </span>
              <span class="was_price">
                {% if variant.price < variant.compare_at_price and variant.available %}
                  <span class="money">{{ variant.compare_at_price | money }}</span>
                {% endif %}
              </span>
            </h5>
          </div>
          {% endif %}

          <h1 class="product_name {% if logo_upload and enable_iframe_checkout %}btn-present{% endif %}" itemprop="name">{{ product.title }}</h1>

          {% if logo_upload and enable_iframe_checkout %}
            <a href="{{ shop.url }}{{ product_meta.logo_upload_link }}" class="action_button dark-button upload-btn">UPLOAD CUSTOM LOGO</a>
          {% endif %}

          {% if settings.enable_shopify_product_badges and settings.enable_shopify_review_comments %}
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% endif %}
          <div class="feature_divider"></div>

          {% assign product_tags = product.tags | join: ' ' %}
          {% if product_tags contains 'meta-size-chart-' %}
            {% for tag in product.tags %}
              {% if tag contains 'meta-size-chart-' %}
                <a href="#size-chart{{product.id}}" class="size_chart" data-remodal-target="size-chart{{product.id}}" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
                {% include 'popup-size-chart', product_id: product.id %}
              {% endif %}
            {% endfor %}
          {% elsif settings.size_chart != blank %}
            <a href="#size-chart" class="size_chart" data-remodal-target="size-chart" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
          {% endif %}

          {% if collection_handles contains 'coming-soon' %}
            <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
          {% else %}
            <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
              <meta itemprop="seller" content="{{ shop.name | escape }}" />
              <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
              <meta itemprop="itemCondition" content="New" />

              <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>

              {% if settings.checkout_method == 'enable_shopify_checkout' %}
                <span itemprop="price" content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                  <span class="current_price {% if product.available == false %}hidden{% endif %}">
                    {% if variant.price > 0 %}
                      <span class="money">{{ variant.price | money }}</span>
                    {% else %}
                      {{ settings.free_price_text }}
                    {% endif %}
                  </span>
                  MSRP
                </span>
                <span class="was_price">
                  {% if variant.price < variant.compare_at_price and variant.available %}
                    <span class="money">{{ variant.compare_at_price | money }}</span>
                  {% endif %}
                </span>
              {% endif %}

              {% if product_meta.collection_img %}
                <img src="{{ product_meta.collection_img }}" class="collection-price-img lazyload" alt="{{ product.title }}">
              {% endif %}

              {% if section.settings.display_savings %}
                <span class="sale savings">
                  {% if variant.price < variant.compare_at_price and variant.available %}
                    {{ 'products.product.savings' | t }}  {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}% (<span class="money">{{ variant.compare_at_price | minus: variant.price | money }}</span>)
                  {% endif %}
                </span>
              {% endif %}
            </p>

            {% include 'product-notify-me' %}

          {% endif %}

          {% if settings.checkout_method == 'enable_shopify_checkout' %}
          <div class="product-description b2c">
            {% comment %}{{ product.description }}{% endcomment %}
            {% include 'tabbed-description-b2c' %}
          </div>
          {% endif %}

          {% unless collection_handles contains 'coming-soon' %}
            {% if settings.checkout_method == 'enable_shopify_checkout' %}
              {% include 'product-form' with 'product' %}
            {% endif %}
          {% endunless %}

          {% if settings.checkout_method == 'enable_iframe_checkout' %}
            {% include 'tabbed-description' %}
          {% endif %}

          {% if settings.enable_shopify_review_comments and settings.review_position == "next_to_gallery" %}
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          {% endif %}

          {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
            <div class="product_links">
              {% if section.settings.display_collections %}
                <p>
                  <span class="label">{{ 'products.product.collections' | t }}:</span>
                  <span>
                   {% for col in product.collections %}
                     <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
                   {% endfor %}
                  </span>
                </p>
              {% endif %}

              {% if section.settings.display_type %}
                <p>
                  <span class="label">{{ 'products.product.product_types' | t }}:</span>
                  <span>{{ product.type | link_to_type }}</span>
                </p>
              {% endif %}

              {% if section.settings.display_tags %}
                <p>
                 {% for tag in product.tags %}
                   {% if forloop.first %}
                     <span class="label">{{ 'products.product.tags' | t }}:</span>
                   {% endif %}

                   {% unless tag contains 'meta-' %}
                     <span>
                       <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                       </span>
                   {% endunless %}
                 {% endfor %}
                </p>
              {% endif %}
            </div>
          {% endif %}

          <div class="meta">
            {% if section.settings.display_social_buttons %}
              {% include "social-buttons" with "product" %}
            {% endif %}
          </div>
        </div>
      </div>

      {% if product.description contains "<!-- split -->"  %}
        <br class="clear" />
        <div class="section clearfix">
          <div class="description">
            {{ product.description | split: '<!-- split -->' | last }}
          </div>
        </div>
      {% endif %}

      {% if settings.enable_shopify_review_comments and settings.review_position == "below_gallery" %}
        <div class="shopify-reviews">
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
      {% endif %}
    </div>

    {% if sidebar %}

            {% if section.settings.display_related_products %}
              {% include 'related-products' %}
            {% endif %}
            {% if section.settings.display_recently_viewed %}
              {% include 'recently-viewed' %}
            {% endif %}

          </div>
        </div>
      </div>

    {% else %}

          </div>
        </div>
      </div>

      {% if product_meta.bullet_one or product_meta.bullet_two or product_meta.bullet_three %}
      <div class="bullet-area container">
      {% endif %}

        {% if product_meta.bullet_one %}
          <div class="product-bullet ten offset-by-three columns">
            <h5>{{ product_meta.bullet_one | split: "|" | first }}</h5>
            <h6>{{ product_meta.bullet_one | split: "|" | last }}</h6>
          </div>
        {% endif %}

        {% if product_meta.bullet_two %}
          <div class="product-bullet ten offset-by-three columns">
            <h5>{{ product_meta.bullet_two | split: "|" | first }}</h5>
            <h6>{{ product_meta.bullet_two | split: "|" | last }}</h6>
          </div>
        {% endif %}

        {% if product_meta.bullet_three %}
          <div class="product-bullet ten offset-by-three columns">
            <h5>{{ product_meta.bullet_three | split: "|" | first }}</h5>
            <h6>{{ product_meta.bullet_three | split: "|" | last }}</h6>
          </div>
        {% endif %}

      {% if product_meta.bullet_one or product_meta.bullet_two or product_meta.bullet_three %}
      </div>
      {% endif %}

      {% if section.settings.enable_square_image_blocks %}
        {% include 'pdp-square-blocks' %}
      {% endif %}
      {% if section.settings.enable_collection_image %}
        {% include 'include-pdp-collection-line-image' %}
      {% endif %}

      {% if settings.checkout_method == 'enable_shopify_checkout' %}
        <div class="container">
          <h4 class="title center">Reviews</h4>
          <div class="feature_divider"></div>
          <h5 class="product_name" itemprop="name">{{ product.title }}</h5>
          <div data-bv-show="rating_summary" data-bv-productId="{{ parent_sku }}"></div>
          <div data-bv-show="reviews" data-bv-productId="{{ parent_sku }}"></div>
          <div data-bv-show="questions" data-bv-productId="{{ parent_sku }}"></div>
        </div>
      {% endif %}

      {% if section.settings.display_related_products %}
        {% comment %}first check for the related_sku metafield, if that doesn't exist, use the base_sku metafield.{% endcomment %}
        {% if product.metafields.product.related_sku %}
          {% assign base_sku = product.metafields.product.related_sku | strip | downcase %}
        {% else %}
          {% assign base_sku = product.metafields.product.base_sku | strip | downcase %}
        {% endif %}

        {% if collections[base_sku].products.length %}
          {% comment %}if we have a handpicked collection, we'll use it{% endcomment %}
          {% include 'related-products-handpicked' %}
        {% else %}
          {% comment %}default related products{% endcomment %}
          {% include 'related-products' %}
        {% endif %}
      {% endif %}

      {% if section.settings.display_recently_viewed %}
        {% include 'recently-viewed' %}
      {% endif %}
      {% if section.settings.display_featured_blog %}
        {% include 'include-pdp-featured-blog' %}
      {% endif %}

      {% if section.settings.display_instagram == 'theme' %}
        {% if section.settings.display_recent_instagrams %}
          {% include 'include-recent-instagrams' %}
        {% endif %}
      {% endif %}

      {% if section.settings.display_instagram == 'instashop' %}
        <div id="shopify-section-1489285451288" class="shopify-section social-feeds-section instashop">
          <div class="container social-feeds-wrap">
            <div class="section clearfix homepage_content">
              <div class="sixteen columns">
                <h2 class="title insta center">
                  <a href="https://www.instagram.com/stormtech1977/" target="_blank">INSTAGRAM</a>
                </h2>
                <div class="feature_divider"></div>
                <div class="instashop-gallery" data-gallery="default"></div>
              </div>
              </div>
          </div>
        </div>
      {% endif %}

    {% endif %}

    {% if section.settings.product_thumbs_active %}
      <style>
        .product_gallery_nav .gallery-cell {
          padding: 5px;
          vertical-align: middle;
        }
        .product_gallery_nav .gallery-cell.is-nav-selected {
          position: relative;
        }
        .product_gallery_nav .gallery-cell.is-nav-selected:after {
          content: "";
          width: calc(100% - 2px);
          height: calc(100% - 5px);
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border: 1px solid {{ section.settings.product_thumbs_active_color }};
        }
      </style>
    {% endif %}

{% schema %}

{
  "name": "Product",
  "class": "product-template",
  "settings": [
    {
      "type": "header",
      "content": "Product Top Banner"
    },
    {
      "type": "checkbox",
      "id": "product_banner",
      "label": "Enable Product Top Banner",
      "default": true,
      "info": "By enabling this field, and placing an 1800 x 1000 pixel image URL in the product's product.top_banner metafield, a top banner image will display."
    },
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows on product gallery",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover"
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable product gallery popup",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_autoplay",
      "label": "Enable product gallery slideshow"
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Gallery transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Gallery position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "info": "Gallery Position center cannot be used with the sidebar."
    },
    {
      "type": "checkbox",
      "id": "product_thumbs",
      "label": "Show product gallery thumbnails",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_thumbs_active",
      "label": "Show border on active thumbnail",
      "default": false
    },
    {
      "type": "color",
      "id": "product_thumbs_active_color",
      "label": "Active border color",
      "default": "#F8951E"
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "default": "bottom-thumbnails",
      "options": [
        {
          "value": "left-thumbnails",
          "label": "Left"
        },
        {
          "value": "bottom-thumbnails",
          "label": "Bottom"
        },
        {
          "value": "right-thumbnails",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product info"
    },
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show price savings",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": false,
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above product form"
        },
        {
          "value": "bottom",
          "label": "Below product form"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "hide_decoration_embroidery_eu",
      "label": "Hide Decoration and Embroidery Calculatory tabs on EU store",
      "default": true
    },
    {
      "type": "header",
      "content": "Square Image Blocks"
    },
    {
      "type": "checkbox",
      "id": "enable_square_image_blocks",
      "label": "Enable Square Image Blocks",
      "default": true,
      "info": "By enabling this field, and placing three 670 x 600 (WxH) pixel image URLs in a product's product.box_one_img_url, product.box_two_img_url, and product.box_three_img_url metafields, this section will display for that product."
    },
    {
      "type": "header",
      "content": "Collection Line Image & Link"
    },
    {
      "type": "checkbox",
      "id": "enable_collection_image",
      "label": "Enable Collection Line Img & Link",
      "default": true,
      "info": "By enabling this field, and placing a 600 x 100 (WxH) pixel image URL in a product's product.collection_img, and the collection's link in the product.collection_link field this section will display for that product (collection_link is optional)."
    },
    
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "radio",
      "id": "related_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "related_products_limit",
      "label": "Limit products",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "products_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Recently viewed products"
    },
    {
      "type": "paragraph",
      "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
    },
    {
      "type": "checkbox",
      "id": "display_recently_viewed",
      "label": "Show recently viewed products",
      "default": false
    },
    {
      "type": "text",
      "id": "rv_title",
      "label": "Title",
      "default": "Recently Viewed Items"
    },
    {
      "type": "radio",
      "id": "rv_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "rv_max_display",
      "label": "Products limit",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "rv_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Featured Blog Posts"
    },
    {
      "type": "checkbox",
      "id": "display_featured_blog",
      "label": "Show featured blog posts",
      "default": true
    },
    {
      "type": "text",
      "id": "pdp_blog_title",
      "label": "Heading",
      "default": "Stormtech Moments"
    },
    {
      "type": "blog",
      "id": "pdp_blog_widget_select",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "pdp_page_articles",
      "label": "Posts",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "pdp_blog_tags",
      "label": "Show blog post tags"
    },
    {
      "type": "checkbox",
      "id": "pdp_blog_author",
      "label": "Show author"
    },
    {
      "type": "checkbox",
      "id": "pdp_blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "pdp_blog_comment_count",
      "label": "Show comment count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "pdp_read_more_link",
      "label": "Show continue reading link for blog post excerpts",
      "default": true
    },
    {
      "type": "header",
      "content": "Instagram Recent Posts"
    },
    {
      "type": "radio",
      "id": "display_instagram",
      "label": "Instagram App or Theme Default",
      "default": "instashop",
      "options": [
        {
          "value": "instashop",
          "label": "InstaShop App"
        },
        {
          "value": "theme",
          "label": "Theme Default"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "display_recent_instagrams",
      "label": "Enable Instagram Recent Posts",
      "default": true
    },
    {
      "type": "text",
      "id": "instagram_client_id",
      "label": "Instagram Access Token ([?](https:\/\/outofthesandbox.com\/pages\/instagram-access-token))",
      "default": "1708025753.d90570a.b5b1b1ca149b4a18a770d8e419c445a1"
    },
    {
      "type": "header",
      "content": "Sidebar",
      "info": "Sidebar cannot be used with Gallery Position center."
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "range",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ],
  "default": {
    "settings": {

    }
  }
}

{% endschema %}
