{% comment %}
Section for tab view of data
{% endcomment %}

<div id="tab-section" class="container ">
	<h2 class="section-title">{{ section.settings.title }}</h2>
	<div class="feature_divider"></div>
	<ul class="tab-heading clearfix">
		{% comment %}
		forloop tab headers
		{% endcomment %}
		{% for block in section.blocks %}
	  		<li><a href="#tab-{{- index -}}">{{ block.settings.header }}</a></li>
		 	{% assign index =  index | plus: 1  %}
	  	{% endfor %}
	</ul>
	{% assign index =  1  %}
</div>

{% schema %}
{
	"name": "Tabbed Information",
	"class": "tabbed-info-section",
	"max_blocks": 5,
	"settings": [
		{
			"type": "text",
	        "id": "title",
	        "label": "Tab Section Title",
	        "default": "Tab Information"
		}
	],
	"blocks" : [
		{
			"type": "image",
	        "name": "Tab Info",
	        "settings": [
	        	{
	        		"type": "text",
	        		"id": "header",
	        		"label": "Tab Header",
	        		"default": "Tab #"
	        	},
	        	{
				  "type": "image_picker",
				  "id": "image",
				  "label": "Tab Data Image"
				},
				{
				  "type": "richtext",
				  "id": "text",
				  "label": "Text",
				  "default": "<p>Tab text data goes here.</p>"
				}
	        ]
		}	
	],
	"presets": [{
		"name": "Tabbed Information",
		"category": "Content",
		"blocks": [
			{
				"type": "image"
			},
			{
				"type": "image"
			}
		]
	}]
}
{% endschema %}