<a name="pagecontent" id="pagecontent"></a>
<div class="index-sections">
    {{ content_for_index }}

	{% if settings.enable_instashop_hp %}
	<div id="shopify-section-1489285451288" class="shopify-section social-feeds-section">
		<div class="container social-feeds-wrap">
			<div class="section clearfix homepage_content">
				<div class="sixteen columns">
					<h2 class="title insta center">
						<a href="https://www.instagram.com/stormtech1977/" target="_blank">INSTAGRAM</a>
					</h2>
					<div class="feature_divider"></div>
					<div class="instashop-gallery" data-gallery="default"></div>
				</div>
	    	</div>
		</div>
	</div>
	{% endif %}

</div>